/*================ Animations ================*/
.blur-up {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.blur-up.lazyloaded {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@keyframes zoomOutImage {
  from {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes zoomInImage {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
.animated {
  transition: all 0.5s ease;
}
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}
.zoomOutImage {
  animation-name: zoomOutImage;
}
.zoomInImage {
  animation-name: zoomInImage;
}
