/*================ Hide first loader ================*/
.first-load {
  display: none;
}
/*================ Multi currency ================*/
.multi-currency {
  min-width: 65px;
  select {
    border: none;
    margin-bottom: 0px;
    padding-right: 15px;
    background-position: right;
  }
}
/*================ Social Links ================*/
.social_links {
  a {
    transition: 0.5s all;
    &:hover {
      &.twitter {
        color: #09aeec !important;
      }
      &.facebook {
        color: #49659d !important;
      }
      &.instagram {
        color: #fc8516 !important;
      }
      &.youtube {
        color: #cc3a2b !important;
      }
      &.pinterest {
        color: #cb1f2a !important;
      }
      &.google {
        color: #cc3a2b !important;
      }
    }
  }
}


/*================ Black Background for fixed elements ================*/
.black-bg {
  display: none;
  background: rgba(0, 0, 0, 0.48);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  max-height: 100vh;
  height: 100%;
  cursor: pointer;
}
.overflow-hidden {
  overflow: hidden;
}

/*================ section common ================*/
.main-content {
  margin: 30px 0;
  &.main-page-index,&.main-page-product {
    margin: 0;
  }
}

/*================ Pagination ================*/
.pagination {
  padding: 25px 0 15px;
  text-align: center;
  transition: 0.3s all;
  .icon-fallback-text {
    vertical-align: middle;
    padding-top: 5px;
    display: inline-block;
  }
  .page {
    padding: 8px;
    vertical-align: middle;
    &.current {
      color: #a26b25;
    }
  }
}

/*================ Breadcrumb ================*/
.breadcrumb {
  padding: 10px 0;
}