input {
  display: block;
  padding: 10px 15px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  width: 100%;
  -webkit-appearance: none;
}
.spinner {
  position: relative;
  display: inline-block;
  input {
    text-align: center;
    max-width: 40px;
    margin: 0 30px;
    padding: 8px 0;
    border-radius: 0px;
    &:focus {
      outline: none;
    }
    @include mq("phone") {
      height: 40px;
      width: 40px;
      margin: 0 40px;
    }
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .min,
  .plus {
    width: 30px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 1px solid #ddd;
    background: #eee;
    font-size: 24px;
    cursor: pointer;
    line-height: 35px;
    @include mq("phone") {
      width: 40px;
    }
    text-align: center;
    &::selection {
      background: transparent;
    }
  }
  .min {
    left: 0%;
    border-right: none;
  }
  .plus {
    right: 0;
    border-left: none;
  }
}
input[type="checkbox"] {
  width: auto;
  height: auto;
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  -o-appearance: checkbox;
  -ms-appearance: checkbox;
  appearance: checkbox;
  margin: 0 0 0 0;
}
input[type="radio"] {
  width: auto;
  height: auto;
  -webkit-appearance: radio;
  -moz-appearance: radio;
  -o-appearance: radio;
  -ms-appearance: radio;
  appearance: radio;
  margin: 0 0 0 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #000000;
  outline: none;
  display: block;
  width: 100%;
}
textarea {
  min-height: 85px;
  width: 100%;
}
input,
select,
textarea {
  margin-bottom: 15px;
  outline: none;
}
label {
  margin-bottom: 5px;
  display: inline-block;
}
input[type="radio"],
input[type="checkbox"] {
  margin-bottom: 0px;
}
.form-success {
  color: #56ad6a;
  background-color: #ecfef0;
  border-color: #56ad6a;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 20px;
}
.form-error,
.errors {
  color: red;
  background-color: #ecfef0;
  border-color: #56ad6a;
  border: 1px solid;
  padding: 10px;
  margin-bottom: 20px;
}
.form-vertical {
  button {
    margin-top: 10px;
  }
  .field {
    position: relative;
    display: inherit;

    label {
      margin-bottom: 5px;
    }
    select {
      margin: 15px 0;
    }
    input[type="checkbox"] {
      opacity: 0;
      width: 0;
      height: 0;
    }
    input[type="checkbox"] + label {
      position: relative;
      padding-left: 28px;
      margin-bottom: 35px;
      cursor: pointer;
      display: inline-block;
      height: 25px;
      line-height: 25px;
      font-size: 1rem;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
        z-index: 0;
        border: 2px solid #5a5a5a;
        border-radius: 1px;
        margin-top: 2px;
        transition: 0.2s;
      }
    }
    input[type="checkbox"]:checked + label {
      &:before {
        top: -1px;
        left: -5px;
        width: 8px;
        height: 19px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform: rotate(40deg);
        transform: rotate(40deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="tel"],
    input[type="number"],
    textarea {
      display: block;
      padding: 10px 15px;
      border: 1px solid #ddd;
      margin-bottom: 15px;
      width: 100%;
    }
    input[type="radio"],
    input[type="checkbox"] {
      margin-bottom: 0px;
    }
    textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #9e9e9e;
      border-radius: 0;
      outline: none;
      height: 3rem;
      width: 100%;
      font-size: 1rem;
      margin: 0 0 20px 0;
      padding: 0;
      box-shadow: none;
      box-sizing: content-box;
    }
  }
  .form-success {
    color: #56ad6a;
    background-color: #ecfef0;
    border-color: #56ad6a;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 20px;
  }
  .form-error,
  .errors {
    color: red;
    background-color: #ecfef0;
    border-color: #56ad6a;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 20px;
  }
}

/*================ Button ================*/
button,
.btn,.shopify-payment-button__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  width: auto;
  outline: 0;
  line-height: 1;
  margin: 0;
  font-weight: normal;
}
button {
  background: transparent;
}