/*================ Index Wrap ================*/
.home-sections-wrapper {
  padding: 60px 0;
  &.no-padding {
    padding: 0px 0;
  }
  &.light-color {
    background-color: $section_light_color_bg;
    .section-header {
      .section-title,
      .section-description p {
        color: $section_light_color_text;
      }
    }
    .bottom-line {
      background: $section_light_color_text;
    }
  }
  &.dark-color {
    background-color: $section_dark_color_bg;
    .product-title,
    .product-price {
      color: $section_dark_color_text;
    }
    .product-price{
      font-weight: bold;
    }
    .section-header {
      .section-title,
      .section-description p {
        color: $section_dark_color_text;
      }
      .bottom-line {
        background: $section_dark_color_text;
      }
    }
  }
}
/* Section heading */
.section-header {
  text-align: center;
  .section-title {
    line-height: 1;
    margin-bottom: 0;
  }
  .section-description {
    margin-top: 15px;
    p {
      margin-bottom: 0;
    }
  }
  .bottom-line {
    height: 2px;
    background: $color_black;
    width: 50px;
    display: inline-block;
    margin: 18px 0 36px;
  }
}

// home-blogs
.home_blog {
  ul.article_list {
    .article_link {
      display: block;
      overflow: hidden;
    }
    .article {
      margin-top: 20px;
    }
    .article_img {
      transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      display: block;
      &:hover {
        @include transform(scale(1.03));
      }
    }
    .article_detail {
      padding: 15px 0;
      line-height: 1.3;
      .title {
        margin-bottom: 15px;
      }
      .time {
        padding-bottom: 8px;
      }
      .read_more {
        display: block;
        margin: 5px 0;
      }
    }
    li {
      padding-bottom: 0;
    }
    li.col-sm-6 {
      @include mq("tablet-and-up") {
        &:nth-of-type(2n + 1) {
          clear: both;
        }
      }
    }
    li.col-sm-4 {
      @include mq("tablet-and-up") {
        &:nth-of-type(3n + 1) {
          clear: both;
        }
      }
    }
    li.col-sm-3 {
      @include mq("tablet-and-up") {
        &:nth-of-type(4n + 1) {
          clear: both;
        }
      }
    }
  }
}

// home-instafeed
.home_instagram {
  h3.title {
    &.no_gutter {
      margin-bottom: 15px;
    }
  }
  ul {
    margin-left: -15px;
    margin-right: -15px;
    li {
      &.no_gutter {
        padding: 0;
        margin-top: 0;
      }
      margin-top: 15px;
      &.col-sm-3 {
        @include mq("tablet-and-up") {
          &:nth-of-type(4n + 1) {
            clear: both;
          }
        }
      }
      &.col-sm-4 {
        @include mq("tablet-and-up") {
          &:nth-of-type(3n + 1) {
            clear: both;
          }
        }
      }
      &.col-sm-6 {
        @include mq("tablet-and-up") {
          &:nth-of-type(2n + 1) {
            clear: both;
          }
        }
      }
      a {
        display: block;
        overflow: hidden;
        img {
          width: 100%;
          max-width: 100%;
          height: auto;
          transition: all 0.8s ease;
          -webkit-transition: all 0.8s ease;
          -moz-transition: all 0.8s ease;
          -o-transition: all 0.8s ease;
          -ms-transition: all 0.8s ease;
          &:hover {
            @include transform(scale(1.03));
          }
        }
      }
      .il-photo__likes {
        background-color: #f37429;
        background-size: 15px;
        background-repeat: no-repeat;
        background-position: 5px;
        color: #fff;
        position: absolute;
        padding: 5px 12px 5px 25px;
        top: 0;
        &.no_gutter {
          left: 0;
        }
        left: 15px;
      }
      .il-photo__caption {
        padding-top: 5px;
        a {
          display: inline-block;
          vertical-align: top;
          color: #2c6f80;
        }
      }
    }
  }
}



// home-testimonials
.home_testimonials_text {
  text-align: center;
  padding: 25px 25px 45px;
  .header {
    h1 {
      font-size: 42px;
      margin: 15px;
      p {
        margin: 0;
      }
    }
  }
  .slider {
    li {
      padding: 0 11%;
      .text {
        .review {
          margin: 15px 0;
        }
      }
      .border {
        &.left {
          margin: 0 1% 0 0;
        }
        &.right {
          margin: 0 0 0 1%;
        }
        height: 2px;
        display: inline-block;
        width: 45%;
        vertical-align: middle;
      }
    }
  }
}

/*home-fix-banner-xs*/
.home_fix_banners {
  ul.list::-webkit-scrollbar {
    display: none;
  }
  ul.list {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    li.li {
      display: inline-block;
      width: 130px;
      margin: 10px 2px;
      vertical-align: top;
      padding: 0 0px;
      border: 1px solid #ddd;
      .text {
        white-space: normal;
        h5 {
          padding: 4px 0;
          margin-bottom: 0;
          text-align: center;
          font-size: 13px;
        }
      }
    }
  }
}

//article-template
#article_page {
  .header {
    .title {
      margin-bottom: 18px;
      margin-top: 0;
    }
    .info {
      font-size: 13px;
      .breadcrumb {
        padding: 0;
      }
      .time {
        font-style: italic;
        margin-bottom: 18px;
      }
    }
  }
  .details {
    .article_img {
      padding-bottom: 20px;
    }
    .content {
      a {
        transition: 0.3s all;
      }
      p {
        text-align: justify;
      }
    }
    .comment_heading {
      span {
        border-bottom: 1px solid #000;
        padding-bottom: 2px;
        padding: 0 3px 3px 3px;
      }
    }
    .tags {
      font-size: 16px;
      margin-bottom: 20px;
      li {
        padding-bottom: 15px;
      }
      a {
        padding: 4px 15px;
        padding-left: 0;
        transition: 0.3s all;
      }
      .tags_title {
        margin-right: 15px;
      }
    }
    .comment {
      &:last-of-type {
        .comments .comment_text {
          border-bottom: 0;
        }
      }
      .comments {
        .name_time {
          margin-bottom: 2px;
        }
        .comment_text {
          padding-bottom: 10px;
          border-bottom: 1px solid #ddd;
          margin-bottom: 15px;
        }
        .name {
          margin-right: 4px;
          font-weight: bold;
        }
        .time {
          font-size: 80%;
          font-style: italic;
        }
      }
    }
  }
  .side_bar {
    .recent {
      .title {
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
      ul.list {
        padding-left: 15px;
        list-style: circle;
        li {
          font-size: 12px;
          padding-bottom: 8px;
          a.active {
            color: $anchor_tag_hover_color;
          }
        }
      }
    }
  }
  label {
    vertical-align: top;
    margin-bottom: 5px;
    display: block;
  }
  .input-full {
    margin-bottom: 15px;
  }
  .return {
    margin: 15px 0 30px;
  }
}
// blog-template
#blog_page {
  .article_link {
    display: block;
    overflow: hidden;
  }
  .article {
    margin-bottom: 20px;
  }
  .article_img {
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    display: block;
    &:hover {
      @include transform(scale(1.03));
    }
  }
  .article_detail {
    padding: 15px 0;
    .title {
      margin-bottom: 15px;
    }
    .time {
      padding-bottom: 8px;
    }
    .read_more {
      display: block;
      margin: 5px 0;
    }
  }
  ul.article_list {
    padding: 25px 0;
    li {
      padding-bottom: 15px;
    }
    li.col-sm-6 {
      @include mq("tablet-and-up") {
        &:nth-of-type(2n + 1) {
          clear: both;
        }
      }
    }
    li.col-sm-4 {
      @include mq("tablet-and-up") {
        &:nth-of-type(3n + 1) {
          clear: both;
        }
      }
    }
    li.col-sm-3 {
      @include mq("tablet-and-up") {
        &:nth-of-type(4n + 1) {
          clear: both;
        }
      }
    }
  }
}
