/*================ Simply product common ================*/
.product-main {
  position: relative;
  .compare {
    text-decoration: line-through;
    color: #ed1c24;
    margin-left: 3px;
    font-size: 80%;
  }
  &.disabled {
    opacity: 0.5;
  }

  .quick-view {
    @include mq("phone-and-tablet") {
      display: block !important;
      padding: 10px 0;
    }
    @include mq("lap-and-up") {
      display: none;
      padding: 5px 0;
    }
    position: absolute;
    z-index: 3;
    display: block;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    top: 50%;
    @include transform(translateY(-50%));
  }
  .product-link {
    display: block;
    position: relative;
    overflow: hidden;
    svg {
      width: 100%;
    }
    .product-img {
      position: relative;
      z-index: 2;
    }
    .alter_img {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
  }
  .on-sale,
  .sold-out {
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: 2;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
    span {
      font-size: 10px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      line-height: 20px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      width: 100px;
      display: block;
      background: #79a70a;
      background: linear-gradient(#f70505 0%, #8f0808 100%);
      box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
      position: absolute;
      top: 19px;
      left: -21px;
      &:before {
        content: "";
        position: absolute;
        left: 0px;
        top: 100%;
        z-index: -1;
        border-left: 3px solid #8f0808;
        border-right: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #8f0808;
      }
      &:after {
        content: "";
        position: absolute;
        right: 0px;
        top: 100%;
        z-index: -1;
        border-left: 3px solid transparent;
        border-right: 3px solid #8f0808;
        border-bottom: 3px solid transparent;
        border-top: 3px solid #8f0808;
      }
    }
    p {
      margin: 0;
      font-size: 14px;
      line-height: 18px;
    }
  }
  .image {
    display: table;
    width: 100%;
    position: relative;
    .img-cell {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .text {
    .product-link {
      transition: 0.3s all;
      display: block;
      .product-title {
        margin-bottom: 5px;
      }
    }

    text-align: center;
    margin: 8px 0;
  }
}
