/*================ Table color ================*/
.rte {
  padding: 25px 0;
}
.rte,
.product-description {
  table {
    overflow: auto;
    thead {
      tr {
        background-color: $thead_background;
        th {
          color: $th_font_color;
        }
      }
    }
    thead {
      tr {
        border: 1px solid $table_border_color;
        th {
          padding: 8px;
          display: table-cell;
          text-align: left;
          vertical-align: middle;
          border-radius: 2px;
          font-weight: bold;
          border-color: #fff;
          border-right: 1px solid $table_border_color;
          border-bottom: 2px solid $table_border_color;
          min-width: 100px;
        }
      }
    }
    tbody,
    tfoot {
      tr {
        border-top: none;
        border: 1px solid $table_border_color;

        td {
          border-right: 1px solid $table_border_color;
          padding: 8px;
          min-width: 100px;
        }
      }
    }
  }
  ul {
    list-style: disc;
    margin: 15px 0;
    padding-left: 20px;
    li {
      line-height: 1.3;
    }
  }
  ol {
    margin: 15px 0;
    padding-left: 20px;
    li {
      line-height: 1.3;
    }
  }
}
.page_template {
  padding: 30px 0;
}
.page_template {
  padding: 30px 0;
}
/*================ Tables ================*/
.table {
  overflow: auto;
  &.table-center {
    tr,
    th,
    td {
      text-align: center;
    }
  }
  &.row-color {
    tbody,
    tfoot {
      tr {
        &:nth-child(even) {
          background-color: $row_background_color;
        }
        &:hover {
          background-color: $row_hover_color;
        }
      }
    }
  }
  &.full-color {
    thead {
      tr {
        background-color: $thead_background;

        th {
          color: $th_font_color;
        }
      }
    }
    tbody,
    tfoot {
      tr {
        &:nth-child(even) {
          background-color: $row_background_color;
        }
        &:hover {
          background-color: $row_hover_color;
        }
      }
    }
  }
  table {
    width: 100%;
    thead {
      tr {
        border: 1px solid $table_border_color;
        th {
          padding: 8px;
          display: table-cell;
          text-align: left;
          vertical-align: middle;
          border-radius: 2px;
          font-weight: bold;
          border-color: #fff;
          border-right: 1px solid $table_border_color;
          border-bottom: 2px solid $table_border_color;
          min-width: 100px;
        }
      }
    }
    tbody,
    tfoot {
      tr {
        border-top: none;
        border: 1px solid $table_border_color;

        td {
          border-right: 1px solid $table_border_color;
          padding: 8px;
          min-width: 100px;
        }
      }
    }
  }
}
