/*================ Font-family ================*/
$head_font: var(--main-header-font);
$base_font: var(--main-body-font);
$base_font_size: var(--base-font-size);

/*================ Color ================*/
$body_background_color: var(--body_background_color);
$anchor_tag_color: var(--anchor_tag_color);
$anchor_tag_hover_color: var(--anchor_tag_hover_color);
$accent_color:var(--accent_color);

$color_black: #000000;
$color_white: #ffffff;

/*================ Button colors ================*/
$btn_color: var(--btn_color);
$btn_font_color: var(--btn_font_color);
$btn_color_second: var(--btn_color_second);
$btn_font_color_second: var(--btn_font_color_second);

/*================ Grid ================*/
$site_width_lg: 1400;
$site_width_md: 1200;
$site_width_sm: 1023;
$site_width_xs: 767;

/*================ Table color ================*/
$thead_background: #37474f;
$th_font_color: #fff;
$row_background_color: #f5f5f5;
$row_hover_color: #f2f2f2;
$table_border_color: #ddd;

/*================ Slider ================*/
$slider_color: #fff;
$slider_button_color:#000;
$slider_button_shadow:#999;

/*================ Section Schema ================*/
$section_light_color_bg: var(--section_light_color_bg);
$section_light_color_text:var(--section_light_color_text);
$section_dark_color_bg:var(--section_dark_color_bg);
$section_dark_color_text:var(--section_dark_color_text);
/*================ Product grid ================*/
$sale_color: var(--sale_color);
$sold_color: var(--sold_color);

/*================ Header ================*/
$header_background: var(--header_background);