/*================ Section scss ================*/

// cart-template
#cart_page {
  .cart_header {
    padding: 0px 0 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    p {
      margin-bottom: 0;
      text-align: center;
    }
  }
  .cart_main {
    .items {
      margin-bottom: 20px;
      @include mq("phone") {
        .col-xs-6 {
          &:nth-of-type(2n + 1) {
            clear: both;
          }
        }
      }
      &:last-of-type {
        @include mq("tablet-and-up") {
          padding-bottom: 20px;
          border-bottom: 1px solid #ddd;
        }
      }
      @include mq("phone") {
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
      }
      .cart_item {
        text-align: center;
        @include mq("phone") {
          margin: 10px 0;
          text-align: left;
        }
        &.image {
          @include mq("phone") {
            max-width: 400px;
            margin: 0 auto;
          }
          img {
            max-width: 100%;
            width: 100%;
            height: auto;
          }
        }
        &.name {
          text-align: left;
          a {
            display: block;
            line-height: 15px;
          }
        }
        &.total_price {
          font-size: 16px;
          font-weight: bold;
          @include mq("phone") {
            text-align: right;
          }
        }
        &.qty {
          input {
            text-align: center;
            max-width: 50px;
          }
        }
      }
    }
  }
  .cart_footer {
    .items {
      margin-bottom: 10px;
    }
  }
}
