.collection-list {
  ul.list {
    li {
      @include mq("tablet-and-up") {
        margin-bottom: 30px;
      }
      .text{
        margin-bottom: 0;
      }
      a.name {
        padding: 8px 0;
        text-align: center;
        display: block;
      }
    }
  }
}
