/*================ Collection filter and swatches ================*/

.advance_filter {
  .clear_all {
    margin-bottom: 5px;
    a {
      transition: 0.5s all;
    }
  }
  .filter_title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 7px;
    margin-bottom: 7px;
    .close {
      float: right;
      color: #f17979;
      transition: 0.5s all;
      cursor: pointer;
      width: 25px;
      height: 25px;
      text-align: center;
      &:hover {
        color: #000;
      }
    }
  }
  .toggle {
    font-size: 16px;
  }
  .advanced-filters {
    margin-bottom: 20px;
    &.normal_filter {
      li {
        a {
          display: block;
          padding-bottom: 5px;

          background-position: 0px 5px;
          background-size: 10px;
          padding-left: 15px;
        }
        &.active-filter {
          a {
            background-position: 0px 5px;
            background-size: 10px;
            padding-left: 15px;
          }

          a {
            font-weight: bold;
          }
        }
      }
    }
    a {
      transition: 0.3s all;
    }

    &.color_filter {
      padding: 0;
      list-style: none;
      li {
        display: inline-block;
        vertical-align: top;
        border-radius: 100%;
        margin-right: 12px;
        margin-top: 8px;
        opacity: 0.7;
        transition: 0.5s all;
        padding: 0;
        &:hover {
          opacity: 1;
        }
        a {
          width: 21px;
          height: 21px;
          box-sizing: border-box;
          border-radius: 100%;
          text-align: left;
          text-indent: -9999px;
          display: inline-block;
          transition: 0.5s all;
          box-shadow: 4px 4px 4px #ddd;
          &:hover {
            transition: box-shadow 0.3s;
            box-shadow: 0 0 0 1px #999;
            opacity: 1;
          }
        }
        &.active-filter {
          opacity: 1;
          a {
            transition: box-shadow 0.3s;
            box-shadow: 0 0 0 2px #000;
          }
        }
      }
    }
  }
}
.swatches {
  .swatch_title {
    margin-bottom: 5px;
  }
  .swatch-element {
    display: inline-block;
    vertical-align: top;
    min-width: 35px;
    border: 1px solid #ddd;
    padding: 8px 10px;
    margin-bottom: 6px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    &.active {
      border: 1px solid #3b65b1;
      box-shadow: 1px 1px 1px;
      -webkit-box-shadow: 1px 1px 1px;
      -moz-box-shadow: 1px 1px 1px;
      -ms-box-shadow: 1px 1px 1px;
      -o-box-shadow: 1px 1px 1px;
    }
    &.color {
      padding: 3px 3px;
      label {
        width: 30px;
        height: auto;
        display: block;
        cursor: pointer;
        margin-bottom: 0;
      }
    }
    &.soldout {
      cursor: not-allowed;
      text-decoration: line-through;
    }
  }
}

.fixed_filter {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -400px;
  overflow-y: auto;
  background: #fff;
  border-right: 1px solid #ddd;
  width: 400px;
  z-index: 102 !important;
  -webkit-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
  -moz-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
  -o-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
  -ms-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
  transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
  &.active {
    @include transform(translateX(100%));
  }
  .content {
    padding: 30px;
  }
  @include mq("phone-portrait") {
    width: 300px;
    left: -300px;
  }
}

// collection-banner
#collection_image {
  .collection_img {
    padding-bottom: 25px;
    margin-top: -30px;
  }
}

// collection-template
#collection_page {
  .description {
    margin: 15px 0px;
    line-height: 1.7;
  }
  .swatches {
    margin-bottom: 10px;
  }
  .loading {
    position: absolute;
    top: 40%;
    left: 50%;
    @include transform(translate(-50%, -50%));
    z-index: 4;
  }
  .collection_top {
    -webkit-transition: all 900ms ease-in-out;
    -mos-transition: all 900ms ease-in-out;
    -ms-transition: all 900ms ease-in-out;
    -o-transition: all 900ms ease-in-out;
    transition: all 900ms ease-in-out;
    &.fixed {
      position: fixed;
      z-index: 10;
      left: 0;
      top: -100%;
      width: 100%;
      background: #fff;
      border-bottom: 1px solid #ddd;
      .container {
        padding: 0 15px;
      }
      .filter_tape {
        padding: 10px 0;
      }
    }
    .container {
      padding: 0;
    }
    .filter_tape {
      padding-bottom: 25px;
      .sort_products {
        margin-bottom: 0;
      }
    }
  }
  .filter_btn {
    font-size: 16px;
    transition: 0.5s all;
  }
  .sort_products {
    text-align: right;
    margin-bottom: 20px;
    select {
      max-width: 155px;
      margin-bottom: 0;
      display: inline-block;
    }
  }
  .header {
    h1 {
      margin-bottom: 15px;
    }
  }
  .collection {
    ul.list {
      li {
        margin-bottom: 15px;
        &.col-md-3 {
          @include mq("lap-and-up") {
            &:nth-of-type(4n + 1) {
              clear: both;
            }
          }
        }
        &.col-md-4 {
          @include mq("lap-and-up") {
            &:nth-of-type(3n + 1) {
              clear: both;
            }
          }
        }
        &.col-md-6 {
          @include mq("lap-and-up") {
            &:nth-of-type(2n + 1) {
              clear: both;
            }
          }
        }
        @include mq("tablet") {
          &:nth-of-type(3n + 1) {
            clear: both;
          }
        }
        @include mq("phone") {
          &:nth-of-type(2n + 1) {
            clear: both;
          }
        }
      }
    }
  }
}
