.featured-video {
  padding-bottom: 0;
  ul {
    li {
      margin-bottom: 30px;
      .video-frame {
        position: relative;
        width: 100%;
      }
      .img {
        position: relative;
        img {
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
        }
        &:after {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(8, 8, 8, 0.45);
          position: absolute;
          z-index: 1;
          pointer-events: none;
          content: "";
        }
      }
      .text-wrapper {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        padding: 0 15px;
        @include transform(translateY(-50%));
        z-index: 2;
        text-align: center;
        max-width: 75%;
        margin: 0 auto;
        h3 {
          color: $color_white;
        }
      }
    }
  }
}
