/*================ Footer ================*/
#shopify-section-footer {
  padding-bottom: 0;
  .footer-wrapper {
    padding: 30px 0;
    .title {
      padding: 0px 0px 5px 0px;
      font-size: 16px;
      span {
        display: inline-block;
      }
      @include mq("phone") {
        padding-top: 30px;
      }
    }
    ul {
      padding-top: 25px;
      li {
        a {
          line-height: 20px;
          font-size: 13px;
          transition: 0.5s all;
        }
      }
    }
    .form-vertical {
      padding-top: 30px;
     
    }
    .footer-icon {
      padding-top: 30px;
      ul {
        text-align: center;
        li {
          display: inline-block;
          padding: 10px;
          a {
            font-size: 20px;
          }
        }
      }
    }
    .copyright {
      text-align: center;
      font-size: 11px;
      letter-spacing: 1px;
    }
  }
}
