.full-newsletter {
  position: relative;
  .img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 1;
    img {
      height: 100%;
      object-fit: cover;
      object-position: 0% 8%;
      width: 100%;
    }
  }
  .form-wrapper {
    z-index: 2;
    position: relative;
    label {
      display: none;
    }
  }
  .form-success,
  .errors,
  input {
    max-width: 300px;
    margin: 0 auto 10px;
  }
}
