.image-gallery {
  ul.list {
    li {
      @include mq("tablet-and-up") {
        margin-bottom: 30px;
      }
      
      @include mq("phone") {
        padding-left: 15px;
        padding-right: 15px;
        width: 82%;
      }
      .section-block-wrapper {
        position: relative;
        .img-wrapper {
          a {
            display: block;
            img {
              display: block;
            }
          }
        }
        .text-wrapper {
          position: absolute;
          left: 0px;
          width: 100%;
          padding: 0px 33px;
          bottom: 30px;
          @include mq("phone") {
            padding: 0px 25px;
          }
          @include mq("tablet") {
            padding: 0px 20px;
          }
          .grid-title {
            word-break: break-all;
            a {
              font-size: 24px;
              @include mq("tablet") {
                font-size: 20px;
              }
            }
          }
          .btn {
            font-size: 14px;
            @include mq("tablet") {
              font-size: 13px;
              padding: 16px 25px;
            }
          }
        }
      }
    }
  }
}
