.image-with-text {
  .single-section{
    @include mq('phone'){
      margin-bottom: 30px;
    }
    &:last-of-type{
      @include mq('phone'){
        margin-bottom: 0px;
      } 
    }
  }
  .img {
    a {
      display: block;
    }
  }
  .section-header {
    padding: 0px 30px;
    text-align: left;
    @include mq("phone") {
      padding: 20px 15px;
    }
    .section-description {
      margin-bottom: 15px;
      max-width: 600px;
      p {
        font-weight: lighter;
        text-align: justify;
        line-height: 1.5;
      }
    }
  }
}
