.logo-list {
  .li {
    margin-bottom: 20px;
    a {
      display: block;
    }
    img {
      display: block;
    }
    svg {
      background-color: rgba(120, 129, 136, 0.1);
      border: 1px solid rgba(120, 129, 136, 0.2);
      fill: rgba(120, 129, 136, 0.35);
      height: 100%;
      max-height: 100%;
      max-width: 100%;
      width: 100%;
    }
  }
}
