// product-template
#product-page {
  .image-block {
    @include mq("phone") {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .product-card {
    .xs-price {
      h5 {
        margin-bottom: 0;
      }
    }
    .shopify-payment-button {
      margin: 15px 0;
      @include mq("tablet-and-up") {
        width: 300px;
      }
    }
    @include mq("tablet-and-up") {
      margin-top: 25px;
    }
    .breadcrumb {
      padding-top: 0;
      margin-bottom: 25px;
      padding-bottom: 0;
      @include mq("phone") {
        display: none;
      }
    }
  }
}
.product-card {
  .product-sku {
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
  }
  .single-variants {
    display: none;
  }
  .swatches {
    text-align: left;
    @include mq("phone") {
      display: inline-block;
    }
    vertical-align: top;
    .swatch {
      margin-bottom: 15px;
      display: inline-block;
      margin-right: 20px;
      vertical-align: top;
      .swatch-element {
        text-align: center;
        line-height: 1;
        &.color {
          label {
            @include mq("phone") {
              width: 50px;
              height: auto;
            }
          }
        }
        &.soldout {
          display: none;
        }
      }
    }
  }
  .image-block {
    .thumb-block {
      width: 100%;
    }
    .thumb {
      .single-thumb {
        max-width: 100px;
        display: inline-block;
        padding: 10px 5px;
        opacity: 0.7;
        transition: all 300ms ease;

        &.slick-slide {
          max-width: initial;
          display: initial;
        }
        &.slick-center {
          @include transform(scale(1.08));
          opacity: 1;
          transform: scale(1.08);
        }
      }
    }
  }
  .product-details {
    @include mq("phone") {
      margin-top: 15px;
    }
    .product-price {
      color: #000;
      font-size: 26px;
      @include mq("phone") {
        font-size: 20px;
      }
    }
    .compare {
      text-decoration: line-through;
      color: #ed1c24;
      margin-left: 3px;
      font-size: 20px;
      @include mq("phone") {
        font-size: 16px;
      }
    }
    .AddToCart,
    .shopify-payment-button__button {
      display: block;
      width: 300px;
      text-align: center;
      font-size: 16px;
      padding: 16px 10px;
      text-transform: uppercase;
      @include mq("phone") {
        margin: 0 auto;
        width: 100%;
      }
    }
    .product-form {
      padding: 15px 0;
      @include mq("phone") {
        padding-bottom: 0;
      }
      label {
        margin-bottom: 10px;
        display: block;
      }
      .selector-wrapper {
        margin-bottom: 15px;
        display: inline-block;
        margin-right: 20px;
        &.hide {
          display: none !important;
        }
      }
      .qty {
        margin-bottom: 15px;
      }
    }

    .product-description {
      padding: 15px 0;
      line-height: 1.3;
      ul {
        padding: 0 0 10px 20px;
        list-style: disc;
        li {
          line-height: 1.3;
        }
      }
    }
  }
}