.quick-view-card {
  padding: 0 !important;
  @include mq("phone") {
    width: 100%;
  }
  @include mq("lap-and-up") {
    width: 1100px;
  }
  .product-details {
    padding: 30px 15px;
  }
  .content-scroll {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .product-form-wrap {
    margin-bottom: 15px;
  }
  .fancybox-close-small {
    background: rgba(255, 255, 255, 0.5);
  }
  .shopify-payment-button {
    margin: 15px 0;
  }
}
#quick-add-result {
  display: none;
  text-align: center;
  min-width: 300px;
  .buttons a {
    display: inline-block;
    margin-bottom: 10px;
  }
}
#quick-error,
#fancy-msg {
  max-width: 400px;
  min-width: 300px;
  text-align: center;
  display: none;
}
