/*================ Search Page ================*/
#search-page {
  .search-form {
    max-width: 600px;
    margin: 40px auto 40px;
  }
  ul.list {
    .section-header {
      margin: 10px 0;
    }
    li {
      margin-bottom: 15px;
      @include mq("phone") {
        &:nth-of-type(2n + 1) {
          clear: both;
        }
      }
      @include mq("tablet-and-up") {
        &.col-sm-4 {
          &:nth-of-type(3n + 1) {
            clear: both;
          }
        }
        &.col-sm-3 {
          &:nth-of-type(4n + 1) {
            clear: both;
          }
        }
        &.col-sm-6 {
          &:nth-of-type(2n + 1) {
            clear: both;
          }
        }
      }
    }
  }
}
