.slideshow {
  .responsive {
    height: 84vh;
    img {
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
  .slickSlider {
    .single-item {
      position: relative;
      .img-link {
        display: block;
        &.overlay {
          position: relative;
          &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0.35;
            z-index: 1;
          }
        }
      }
      .slide-text {
        position: absolute;
        z-index: 2;
        top: 50%;
        @include transform(translateY(-50%));
        left: 11%;
        @include mq("phone") {
          left: 4%;
        }
        &.text-right {
          @include mq("phone") {
            left: initial;
            right: 8%;
          }
          right: 11%;
          left: initial;
          text-align: left;
        }
        &.text-center {
          left: 50%;
          @include transform(translate(-50%, -50%));
        }
        h3 {
          margin-bottom: 3px;
          line-height: 1.3;
        }
        p {
          margin-bottom: 15px;
          line-height: 1.3;
        }
        a {
          &:first-of-type {
            margin-bottom: 10px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
