.topbar{
  &.slide{
    .announcement{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      @include transition(opacity ease 0.3s);
      &.open{
        opacity: 1;
        z-index: 1;
      }
    }
  }
}