<div id="collection_list">
  <div class="container">
    <ul class="list">
      <div class="row">
        {% for collection in collections %}
          <li class="col-md-6">
            <div class="img">
              <a href="{{collection.url}}">
                {%- render 'srcset',src_name:collection.image,src_alt:collection.title -%}
                <div class="text">
                  <h3>{{collection.title}}</h3>
                </div>
              </a>
            </div>
          </li>
        {% endfor %}
      </div>
    </ul>
  </div>
</div>