{% layout 'password' %}
<div id="password_page">
<div class="container">
  <header class="header">
    {% if settings.password_logo != blank %}
    <div class="logo">
      <img src="{{settings.password_logo | img_url:'grande'}}" alt="{{shop.name}}">
    </div>
    {% else %}
    <h1> {{shop.name}}</h1>
    {% endif %}
  </header>
  <br/>
  <div class="password-main text-center">
    <h2>{{settings.password_header }}</h2>

    {% unless shop.password_message == blank %}
    <div class="password-message">
      {{ shop.password_message }}
    </div>
    {% endunless %}

    {% if settings.password_newsletter_enable %}
    {% comment %}
    Signup form
    {% endcomment %}
    <div class="password-signup-form">
      {% form 'customer' %}
      <div class="form-vertical">
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
        <ul class="form--success">
          <li>{{ 'general.password_page.signup_form_success' | t }}</li>
        </ul>
        {% else %}
        <p>{{ settings.password_newsletter_heading }}</p>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <input type="email" name="contact[email]" id="Email" placeholder="{{settings.password_newsletter_placeholder }}"><br/>
        <button type="submit" name="commit" class="btn">
          {{settings.password_newsletter_button_text }}
        </button>
        {% endif %}
      </div>
      {% endform %}
    </div>

    {% endif %}

    {% if settings.password_social_share %}
    {% if settings.password_social_message != blank %}
    <p>
      {{ settings.password_social_message }}
    </p>
    {% include 'social-share' %}
  </div>
  {% endif %}
  {% endif %}


  <div class="password_login">
    <a href="#LoginPassword" class="fancybox">
      {{ 'general.password_page.password_link' | t }} &rarr;
    </a>
  </div>
  <div id="LoginPassword" class="text-center">
    <p>{{ 'general.password_page.login_form_heading' | t }}</p>
    <div class="form-vertical">
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <input type="password" name="password" id="Password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"><br/>
      <button type="submit" name="commit" class="btn">
        {{ 'general.password_page.login_form_submit' | t }}
      </button>
      {% endform %}
    </div><br/>
    <p class="no_margin">{{ 'general.password_page.admin_link_html' | t }}</p>
  </div>
</div>
</div>