{% layout none %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
<div class="card-{{product.id}} product-card quick-view-card">
  <div class="content-scroll">
    <div class="flex-view-xs space">
      {%- comment -%}::. Left Side .::{%- endcomment -%}
      <div class="col-xs-12 col-sm-5">
        {%- comment -%}Images{%- endcomment -%}
        <div class="image-block">
          {% render 'product-image-block' %}
        </div>
      </div>

      {%- comment -%}::. Right Side .::{%- endcomment -%}
      <div class="col-xs-12 col-sm-7">
        {%- comment -%}Product details{%- endcomment -%}
        <div class="product-details">

          {%- comment -%}Title{%- endcomment -%}
          <h3 class="product-title">
            <a href="{{product.url}}">
              {{product.title}}
            </a>
          </h3>

          {%- comment -%}Price{%- endcomment -%}
          {% if sale %}
            <h2 class="product-price">
              <span class="orignal ProductPrice" itemprop="price" content="{{ product.first_available_variant.price | divided_by: 100.00 }}">
                {{product.first_available_variant.price | money}}
              </span>
              <span class="compare ComparePrice">
                {{ product.first_available_variant.compare_at_price | money }}
              </span>
            </h2>
          {% else %}
            <h2 class="ProductPrice" content="{{ current_variant.price | divided_by: 100.00 }}" itemprop="price">
              {{product.first_available_variant.price | money_without_trailing_zeros}}
            </h2>
          {% endif %}

          {%- comment -%}SKU{%- endcomment -%}
          <h5 class="product-sku" itemprop="sku">
            SKU:
            {{product.first_available_variant.sku}}
          </h5>

          {%- comment -%}Form{%- endcomment -%}
          {% render 'product-form',quickview:true  %}
          
          {%- comment -%}Description{%- endcomment -%}
          <p>
            {%- assign strip_description = product.description  |  strip_html -%}
            {{  strip_description  | truncate : 350}}
            {% if product.strip_description.size > 351 %}
              <a href="{{product.url}}">Read more</a>
            {%- endif -%}
          </p>
          {%- comment -%}Product JSON{%- endcomment -%}
          {% render 'product-script' %}
        </div>
      </div>
    </div>
  </div>
</div>