@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin keyframes( $animationName ){
  @-webkit-keyframes $animationName {
    @content;
  }
  @-moz-keyframes $animationName {
    @content;
  }
  @-o-keyframes $animationName {
    @content;
  }
  @keyframes $animationName {
    @content;
  }
}
@mixin background-opacity($color, $opacity: 0.5) {
  background: $color;
  background: rgba($color, $opacity);
}
@mixin font_size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
@font-face {
  font-family: 'theme-icon';
  src:url({{'icons.woff' | asset_url}}) format('truetype');  
  font-weight: normal;
  font-style: normal;
}
.icon{
  font-family: "theme-icon";
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-search:before { content: '\e800'; } 
.icon-ok:before { content: '\e801'; } 
.icon-mail:before { content: '\e802'; } 
.icon-up-open:before { content: '\e803'; } 
.icon-right-open-big:before { content: '\e804'; }
.icon-down-open:before { content: '\e805'; } 
.icon-down-dir:before { content: '\e806'; } 
.icon-up-dir:before { content: '\e807'; } 
.icon-left-dir:before { content: '\e80f'; }
.icon-right-dir:before { content: '\e810'; }
.icon-basket:before { content: '\e808'; } 
.icon-cancel:before { content: '\e809'; } 
.icon-plus:before { content: '\e80a'; }
.icon-minus:before { content: '\e80b'; } 
.icon-home-outline:before { content: '\e80c'; } 
.icon-users-outline:before { content: '\e80d'; } 
.icon-user:before { content: '\e811'; } 
.icon-left-open-big:before { content: '\e80e'; } 
.icon-rss:before { content: '\f09e'; } 
.icon-menu:before { content: '\f0c9'; } 
.icon-gplus:before { content: '\f0d5'; } 
.icon-facebook:before { content: '\f300'; } 
.icon-twitter-bird:before { content: '\f303'; } 
.icon-pinterest:before { content: '\f312'; } 
.icon-youtube:before { content: '\f313'; }
.icon-instagram:before { content: '\f31e'; }
.icon-shopping-bag:before { content: '\f290'; }
.icon-angle-down:before { content: '\f107'; } 
.icon-angle-up:before { content: '\f106'; }
.icon-angle-right:before { content: '\f105'; }
.icon-angle-left:before { content: '\f104'; } 
.icon-color-adjust:before { content: '\f020'; }





/*================ Font color ================*/
$password_page_color : {{settings.password_page_color}};
$password_page_link : {{settings.password_page_link}};
$password_page_link_hover : {{settings.password_page_link_hover}};





/*================ Slick Slider ================*/





/*================ Password ================*/
body.template-password{
  background:#333;
  height:100vh;
  z-index:1;
  @media(max-width:351px){
    height:125vh;
  }
  overflow-y:scroll;
  {% if settings.password_bg_image == blank %}
  background:linear-gradient(rgba(31, 134, 234, 0.3), rgba(44, 46, 47, 0.83));
  {% else %}
  background:
  linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(86, 85, 85, 0.83)
    ),
  url({{settings.password_bg_image | img_url:'master' }});
  background-repeat:no-repeat;
  background-size:cover;
  {% endif %}
}
#password_page{
 p,li{
  color: $password_page_color;
  font-size: 16px;
  font-weight: bold;
}
h1,h2{
  color:$password_page_color;
}
a{
  font-size:16px;
  font-weight:bold;
  color:$password_page_link;
  transition:.5s all;
  &:hover{
    color:$password_page_link_hover;
  }
}
}

.featured-collections {
  a.name{
    background: $btn_color;
    color: $btn_font_color;
  }
}
.normal_filter{
  li{
    a{
      background:url({{'uncheck_tick.png' | asset_url}}) no-repeat;
    }
    &.active-filter{
      background:url({{'check_tick.png' | asset_url}}) no-repeat;
    }
  }
}