<div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <div class="text-center">
      <h1>{{ 'customer.activate_account.title' | t }}</h1>
      <p>{{ 'customer.activate_account.subtext' | t }}</p>
          <hr/>
    </div>
        <div class="form-vertical">
          {% form 'activate_customer_password' %}

          {{ form.errors | default_errors }}

          <label for="CustomerPassword" class="label--hidden">{{ 'customer.activate_account.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'customer.activate_account.password' | t }}">

          <label for="CustomerPasswordConfirmation" class="label--hidden">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'customer.activate_account.password_confirm' | t }}">

          <input type="submit" class="btn margin" value="{{ 'customer.activate_account.submit' | t }}">
          
          <div><input type="submit" class="btn" name="decline" value="{{ 'customer.activate_account.cancel' | t }}"></div>
          {% endform %}
        </div>
      </div>
  </div>
