<div id="login_page">
  <div class="container">
    <div class="row">
      <div class=" col-sm-6  col-md-4 col-md-offset-4">
        <div id="CustomerLoginForm" class="form-vertical">
          {% form 'customer_login' %}

          <h1 class="text-center">{{ 'customer.login.title' | t }}</h1>
          <hr/>
          <div class="note form-success hide" id="ResetSuccess">
            {{ 'customer.recover_password.success' | t }}
          </div>
          {{ form.errors | default_errors }}
          <div class="field icon">
            <label for="CustomerEmail">{{ 'customer.login.email' | t }}</label>
            <input required type="email" name="customer[email]" id="CustomerEmail" class="{% if form.errors contains 'email' %} input--error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
          </div>
          {% if form.password_needed %}
          <div class="field icon">
            <label for="CustomerPassword">{{ 'customer.login.password' | t }}</label>
            <input required type="password" value="" name="customer[password]" id="CustomerPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
          </div>
          {% endif %}
          <div class="row">
            <div class="col-xs-6">
              <div class="text-left">
                <p>
                <input type="submit" class="btn" value="{{ 'customer.login.sign_in' | t }}">
                </p>
                <p>
                  {{ 'layout.customer.create_account' | t | customer_register_link }}
                </p>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="text-right">
                {% if form.password_needed %}
                <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
                {% endif %}
              </div>
            </div>
          </div>


          {% endform %}
        </div>
        <div id="RecoverPasswordForm" class="hide">
          <div class="text-center">
            <h2>{{ 'customer.recover_password.title' | t }}</h2>
            <hr/>
            <p>{{ 'customer.recover_password.subtext' | t }}</p>
          </div>

          <div class="form-vertical">
            {% form 'recover_customer_password' %}

            {{ form.errors | default_errors }}

            {% comment %}
            Add a hidden span to indicate the form was submitted succesfully.
            {% endcomment %}
            {% if form.posted_successfully? %}
            <span class="hide reset-password-success"></span>
            {% endif %}

            <div class="field icon">
              <label for="RecoverEmail">{{ 'customer.recover_password.email' | t }}</label>
              <input type="email" value="" name="email" id="RecoverEmail" class="input-full"autocorrect="off" autocapitalize="off">
            </div>
            <div class="text-left">
              <p>
                <input type="submit" class="btn" value="{{ 'customer.recover_password.submit' | t }}">
              </p>
              <button type="button" id="HideRecoverPasswordLink" class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
            </div>
            {% endform %}
          </div>
        </div>
        {% comment %}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
        {% endcomment %}
        {% if shop.checkout.guest_login %}
        <div class="text-center">
          <hr class="hr--invisible">
          <h2>{{ 'customer.login.guest_title' | t }}</h2>
          {% form 'guest_login' %}
          <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
          {% endform %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>