<div id="register_page">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-xs-8">
        <div class="form-vertical">
          {% form 'create_customer' %}
          <h1 class="text-center">{{ 'customer.register.title' | t }}</h1>
          <hr/>
          {{ form.errors | default_errors }}
          <div class="field icon">
          <label for="FirstName">{{ 'customer.register.first_name' | t }}</label>
          <input required type="text" name="customer[first_name]" id="FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autofocus>
          </div>
          <div class="field icon">
          <label for="LastName">{{ 'customer.register.last_name' | t }}</label>
          <input type="text" name="customer[last_name]" id="LastName" {% if form.last_name %}value="{{ form.last_name }}"{% endif %}>
          </div>
          <div class="field icon">
          <label for="Email">{{ 'customer.register.email' | t }}</label>
          <input required type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} input--error{% endif %}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
          </div>
          <div class="field icon">
          <label for="CreatePassword">{{ 'customer.register.password' | t }}</label>
          <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
          </div>
          <p class="text-left">
            <input  type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
          </p>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>