<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-4 col-md-offset-4">
      <div class="section-header">
        <div class="form-vertical">
          {% form 'reset_customer_password' %}
            <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>
          <hr/>
            <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
            {{ form.errors | default_errors }}
            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
          <br/>

            <input type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}
        </div>

      </div>
    </div>
  </div>
</div>
