#mobile-drawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 400px;
  left: 0;
  @include transform(translateX(-100%));
  overflow: auto;
  z-index: 110;
  background: #fff;
  @include transition(0.35s cubic-bezier(0.46, 0.01, 0.32, 1));
  @include mq("phone") {
    width: 100%;
    left: 0;
  }
  &.active {
    @include transform(translateX(0%));
  }

  .menu-header {
    line-height: 1;
    margin-bottom: 0;
    text-align: left;
    padding: 15px;
    position: relative;
    font-size: 13px;
    background: $accent_color;
    color: #fff;
    a {
      color: #fff;
    }
    .welcome{
      font-weight: bold;
    }
    .account-icon {
      background: #fff;
      display: inline-block;
      vertical-align: middle;
      padding: 10px;
      border-radius: 100%;
      margin-right: 10px;
    }
    .welcome-wrap {
      display: inline-block;
      vertical-align: middle;
      .account-link {
        display: block;
        margin-top: 4px;
      }
    }
    .drawer-close {
      position: absolute;
      line-height: 1;
      cursor: pointer;
      min-width: 30px;
      right: 15px;
      top: 5px;
      text-align: right;
      font-size: 28px;
      font-weight: bold;
    }
  }
  ul.nav {
    li {
      display: block;
      text-align: left;
      cursor: pointer;
      position: relative;
      .link {
        text-decoration: none;
        display: block;

        border-bottom: 1px solid #ddd;
        &:after {
          clear: both;
          display: table;
          content: "";
        }
        > a {
          display: block;
          width: 84%;
          padding: 15px 0 15px 15px;
          float: left;
        }
        .icon-wrap {
          width: 14%;
          padding: 15px 0;
          font-size: 16px;
          float: left;
          text-align: center;
          span {
            border-left: 1px solid #333;
            display: block;
            color: #000;
            font-size: 18px;
            &.hide {
              display: none;
            }
          }
        }
      }
      .child-menu,
      .link-data {
        display: none;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        .link {
          padding-left: 15px;
        }
        &.third-menu {
          li {
            .link a {
              padding-left: 30px;
            }
          }
        }
        ul {
          li {
            .link {
              a {
                padding-left: 15px;
              }
            }
          }
        }
      }
    }
  }
}
