/*================ Normal Menu ================*/
.main-menu {
  /* First level */
  .ul {
    width: 100%;
    .li {
      display: inline-block;
      vertical-align: top;
      > a {
        padding: 25px 10px;
        line-height: 11px;
        display: block;
      }
    }
  }
  /* Second level */
  .second-level {
    display: none;
    position: absolute;
    background: #fff;
    z-index: 99;
    top: 100%;
    width: 250px;
    left: 50%;
    padding: 30px 65px;
    text-align: left;
    border-bottom: 5px solid $accent_color;
    @include transform(translate(-50%));
    box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.3);
    .second-li {
      position: relative;
      > a {
        display: block;
        line-height: 30px;
      }
    }
  }
}

/*================ Mega menu ================*/
.mega-menu {
  display: none;
  position: absolute;
  z-index: 10;
  border-bottom: 5px solid $accent_color;
  background: $header_background;
  left: 50%;
  top: 100%;
  width: 1023px;
  padding-left: 50px;
  @include transform(translateX(-50%));
  box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.3);
  &.full-mega {
    width: calc(100vw - 15px);
    overflow-x: hidden;
  }
  .full-width {
    width: 100%;
  }
  .left-side {
    width: 75%;
    padding-right: 35px;
  }
  .right-side {
    width: 25%;
  }
  .image-block {
    display: block;
  }
  .single-list {
    padding: 25px 25px;
    text-align: left;
    &.flex-one {
      flex: 1;
    }
    &.divide-four {
      width: 25%;
    }
  }
  .head {
    font-weight: bold;
    margin-bottom: 12px;
    display: inline-block;
  }
  .menu-ul a {
    font-size: 94%;
    display: inline-block;
    margin-bottom: 8px;
  }
}