#welcome-popup {
  @include mq("tablet-and-up") {
    width: 750px;
  }
  display: none;
  padding: 0;
  .col-1 {
    @include mq("tablet-and-up") {
      width: 40%;
    }
    .img {
      height: 100%;
      img {
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .col-2 {
    @include mq("tablet-and-up") {
      width: 60%;
      padding: 60px 30px;
    }
    padding: 30px;
  }
}
