/*================ Order page ================*/
#order_page {
  .order_table {
    padding-bottom: 25px;
  }
  .summary {
    padding-top: 25px;
  }
}
/*================ Contact page ================*/
#contact_page {
  header.header {
    margin-bottom: 15px;
  }
  .content {
    padding-bottom: 25px;
  }
}
/*================ Contact page ================*/
#account_page {
  min-height: 250px;
}
/*================ Mail chimp ================*/
#mail_chimp_result {
  max-width: 500px;
  display: none;
}
/*================ Password page ================*/
#password_page {
  .no_margin {
    margin-bottom: 0;
  }
  .form-vertical {
    input {
      display: inline-block;
      max-width: 300px;
    }
    .errors {
      display: inline-block;
      ul {
        li {
          color: red;
        }
      }
    }
  }

  .logo {
    img {
      max-width: 90px;
    }
  }

  padding: 5% 0;
  .form-vertical {
    padding: 25px 0;
  }
  .password_login {
    padding: 25px 0;
  }
}
#LoginPassword {
  display: none;
  @include mq("tablet-and-up") {
    min-width: 530px;
  }
}
/*================ Address page ================*/
#address_page {
  .submit_btn {
    margin: 10px 0;
  }
}

/*================ FAQ page ================*/
#faq_page {
  .qna {
    padding: 25px 0;
    .que {
      font-size: 18px;
      background: #3ca88b;
      color: #fff;
      padding: 15px;
      margin: 0;
      cursor: pointer;
      border: 1px solid #ddd;
      border-bottom: none;
      i {
        float: right;
      }
    }
    .ans {
      display: none;
      &:first-of-type {
        display: block;
      }
      .content {
        border: 1px solid #ddd;
        border-top: 0;
        padding: 10px 10px;
        p {
          margin-bottom: 10px;
        }
      }
    }
  }
}