/*================ Common Search Form ================*/
.search-form{
  .search-close {
    position: absolute;
    line-height: 1;
    cursor: pointer;
    min-width: 30px;
    right: 0px;
    top: 50%;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    @include transform(translateY(-50%));
  }
  form {
    position: relative;
    display: block;
    input {
      padding: 20px 40px;
    }
    button {
      position: absolute;
      top: 50%;
      left: 8px;
      z-index: 1;
      color: #a5a7a9;
      padding: 5px;
      @include transform(translateY(-50%));
      background: transparent;
      border:none;
    }
    .close-form {
      position: absolute;
      right: 10px;
      top: 50%;
      @include transform(translateY(-50%));
      cursor: pointer;
      min-width: 25px;
      text-align: center;
    }
  }
}


/*================ Quick search ================*/
.quick-search {
  background: #fff;
  @include mq("lap-and-up") {
    position: absolute;
    top: calc(100% - 1px);
    left: 50%;
    width: 50%;
    z-index: 10;
    @include transform(translateX(-50%));
  }
  @include mq("phone-and-tablet") {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    padding: 0 15px;
    overflow-y: auto;
    @include transition(0.35s cubic-bezier(0.46, 0.01, 0.32, 1));
  }
  .input-box{
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $accent_color;
    margin-bottom: 0;
  }
  .s-title {
    line-height: 1;
    margin-bottom: 0;
    text-align: left;
    margin-top: 15px;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    color: #999;
    font-weight: lighter;
  }

 
  .search-result {
    display: none;
    .msg {
      margin: 10px 15px;
      text-align: right;
    }
    .search-data {
      @include mq("lap-and-up") {
        max-height: 350px;
        overflow-y: auto;
      }
      .product {
        margin-bottom: 10px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
      }
    }
    .text {
      z-index: 100;
      float: left;
      text-align: left;
      width: 55%;
      padding-left: 20px;
    }
    li {
      width: 100%;
      border-bottom: 1px solid #ddd;
      padding: 10px 15px;
    }
  }
  .fake-search {
    position: relative;
    .input-box {
      padding-right: 42px;
      height: 40px;
    }

    .search-clear {
      width: 40px;
      cursor: pointer;
      text-align: center;
      top: 0;
      right: 0;
      bottom: 0;
      line-height: 38px;
      color: #999;
      font-size: 26px;
      position: absolute;
      background: #fff;
    }
    input {
      margin-top: 15px;
      display: block;
      border: none;
      border-radius: 3px;
    }
  }
  .search-loading {
    display: none;
    li {
      margin-bottom: 20px;
    }
    .img {
      height: 100px;
      width: 100%;
      background: #f1f1f1;
    }
    .line-wrap {
      padding-left: 8px;
      margin-top: 2px;
    }
    .line {
      height: 6px;
      margin-bottom: 8px;
    }
  }
}
