/*================ Side cart ================*/
#side-cart {
  position: fixed;
  width: 400px;
  @include transition(0.35s cubic-bezier(0.46, 0.01, 0.32, 1));
  .row {
    margin-left: -10px;
    margin-right: 0;
  }
  div[class^="col"] {
    padding-left: 10px;

    padding-right: 0;
  }
  .remove {
    margin-bottom: 0;
  }
  .items {
    padding-bottom: 15px;
  }
  &.active {
    @include transform(translateX(-100%));
  }
  @include mq("phone-portrait") {
    width: 100%;
    right: -100%;
  }

  background: #fff;
  border: 1px solid #ddd;
  top: 0;
  right: -400px;
  bottom: 0;
  z-index: 102;
  .bottom_btns {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    div[class^="col"] {
      padding: 0;
    }
    .btn {
      width: 100%;
      padding: 15px 12px;
      font-size: 14px;
    }
  }
  .cart_min {
    > h3 {
      height: 70px;
      line-height: 70px;
      margin: 0;
      padding: 0 15px;
      text-align: left;
      font-size: 13px;
      color: #999;
      text-transform: uppercase;
      position: relative;
      .close {
        float: right;
        margin: 0;
        width: 50px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 50%;
        @include transform(translateY(-50%));
        font-size: 25px;
      }
    }
    .cart_data {
      position: absolute;
      bottom: 100px;
      left: 0;
      right: 0;
      top: 70px;
      overflow-y: auto;
      background: #eee;
      padding: 15px 30px;
      @include mq("phone") {
        padding: 15px;
      }
      height: calc(100% - 70px - 130px);
      .cart_item {
        &.image {
          img {
            border: 1px solid #ddd;
          }
        }
        &.name {
          a {
            font-size: 12px;
            @include mq("phone") {
              font-size: 11px;
            }
          }
        }
      }
    }
    .footer {
      height: 130px;
      position: absolute;
      background: #fff;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0 15px;
      .data {
        padding: 15px 0;
      }
    }
  }
}
