/*================ Social share ================*/
.share_icons {
  .share {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    a {
      font-size: 20px;
      transition: 0.5s all;
    }
    &.facebook a:hover {
      color: #49659d;
    }
    &.twitter a:hover {
      color: #09aeec;
    }
    &.pinterest a:hover {
      color: #cb1f2a;
    }
    &.google a:hover {
      color: #cc3a2b;
    }
  }
}
