<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  <meta name="referrer" content="origin">
  <script>
    window.simply = window.simply || {};
    window.cn = function(o){return"undefined"==typeof o||null==o||""==o.toString().trim()};
    window.cb = function(o){if(o == 'true'){return true}else{return false}};
  </script>
  {{ 'simply-checkout.scss.css' | asset_url | stylesheet_tag }}
  <title>{{ page_title }}</title>

  {{ content_for_header }}

  {{ checkout_stylesheets }}
  {{ checkout_scripts }}
</head>
<body>
  <div class='custom_checkout'>
    {%- section 'checkout-header' -%}
    <div class='container-fluid'>
      <div class='flex-view space'>
        <div class='col-sm-8 col-md-9'>
          {%- section 'checkout-steps' -%}
          {%- section 'checkout-contact' -%}
          {%- section 'checkout-shipping' -%}
          {%- section 'checkout-payment' -%}
        </div>
        <div class='col-sm-4 col-md-3'>
          {%- section 'checkout-summary' -%}
        </div>
      </div>
    </div>
    {%- section 'checkout-footer' -%}
  </div>
  {{ skip_to_content_link }}

  <div class="banner" data-header>
    <div class="wrap">
      {{ content_for_logo }}
    </div>
  </div>

  {{ order_summary_toggle }}

  <div class="content main_content" data-content>
    <div class="wrap">
      <div class="main" role="main">
        <div class="main__header">
          {{ content_for_logo }}
          {{ breadcrumb }}
          {{ alternative_payment_methods }}
        </div>
        <div class="main__content">
          {{ content_for_layout }}
        </div>
        <div class="main__footer">
          {{ content_for_footer }}
        </div>
      </div>
      <div class="sidebar" role="complementary">
        <div class="sidebar__header">
          {{ content_for_logo }}
        </div>
        <div class="sidebar__content">
          {{ content_for_order_summary }}
        </div>
      </div>
    </div>
  </div>
  {{ tracking_code }}
  {{ 'simply-checkout.js'| asset_url | script_tag }}
</body>
</html>