<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="no-js" lang="{{ shop.locale }}">
  <!--<![endif]-->
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-218113237-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-218113237-2');
    </script>

    <!-- Anti-flicker snippet (recommended) -->
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
    h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
    (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
    })(window,document.documentElement,'async-hide','dataLayer',4000,
    {'OPT-KF8GMT6':true});</script>

    <!-- Google Optimize -->
    <script async src="https://www.googleoptimize.com/optimize.js?id=OPT-KF8GMT6"></script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-NGBB9D6');</script>
    <!-- End Google Tag Manager -->

    {%- capture cfh -%}
      {{ content_for_header}}
    {%- endcapture -%}
    {{ cfh | replace:'<script','<script defer="defer" ' }}
    {% render 'head' %}
  </head>
  <body class="template-{{ template | split: '.' | first }} theme-unload">
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGBB9D6"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="body-wrapper">
      {% section 'topbar' %}
      {% section 'header' %}
      <div class="first-load">
        <div class="loader_wrapper">
          {% render 'loading' %}
        </div>
      </div>
      <div class="main_page">
        <main class="main-content main-page-{{ template | split: '.' | first }}">
          {{ content_for_layout }}
        </main>
      </div>
      {% section 'footer' %}
      {% include 'quick-add' %}

      {% section 'footer-script' %}
    </div>
    {% if settings.welcome_popup %}
      {% render 'newsletter-popup' %}
    {% endif %}
    
    {%- render 'side-cart' -%}
    <div class="black-bg Fixed"></div>
    <div id="quick_view"></div>
  </body>
</html>
