<!-- /templates/article.liquid -->
{% assign sizes = '480,765,900,1000,1100,1300,1500,1700,1900,2000' | split: "," %}
{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}
<div id="article_page">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <article class="article" itemscope itemtype="http://schema.org/Article">
          <header class="header">
            <h1 class="title">{{ article.title }}</h1>
            <div class="row info">
              <div class="col-xs-6">
                {% if section.settings.breadcrumbs %}
                  {% include 'breadcrumbs' %}
                {% endif %}
              </div>
              <div class="col-xs-6">
                <p class="time text-right">
                  <span class="by">
                    By:{{article.user.first_name}}
                    {{article.user.last_name}}
                  </span>
                  <span class="date">
                    <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                      {{ article.published_at | date: format: 'month_day_year' }}
                    </time>
                  </span>
                </p>
              </div>
            </div>
          </header>
          <div class="details">
            <div class="article_img">
              {%- render 'srcset',src_name:article.image,src_alt:article.title -%}
            </div>
            <div class="content" itemprop="articleBody">
              {{ article.content }}
            </div>
            {% include 'article-tag' %}


            {% if blog.comments_enabled? %}

              {% if number_of_comments > 0 %}
                <h5 class="comment_heading text-center">
                  <span>
                    {{ 'blogs.comments.with_count' | t: count: number_of_comments }}
                  </span>
                </h5>
              {% endif %}

              {% paginate article.comments by 5 %}


                {% if comment and comment.created_at %}
                  <div id="comments">
                    <p class="note form-success">
                      {% if blog.moderated? %}
                        {{ 'blogs.comments.success_moderated' | t }}
                      {% else %}
                        {{ 'blogs.comments.success' | t }}
                      {% endif %}
                    </p>
                  </div>
                {% endif %}

                {% if number_of_comments > 0 %}
                  <ul class="no-bullets">
                    {% comment %}
              If a comment was just submitted with no blank field, show it.
              {% endcomment %}
                    {% if comment and comment.created_at %}
                      <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                        {% include 'comment' %}
                      </li>
                    {% endif %}
                    {% for comment in article.comments %}
                      <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                        {% include 'comment' %}
                      </li>

                    {% endfor %}
                  </ul>

                  {% if paginate.pages > 1 %}
                    {% include 'pagination' %}
                  {% endif %}

                {% endif %}

                <hr/>

                <h5 class="h3 text-center">{{ 'blogs.comments.title' | t }}</h5>
                <div class="row">
                  <div class="col-xs-9">
                    <div class="form-vertical">
                      {% form 'new_comment', article %}

                        {{ form.errors | default_errors }}

                        <div class="row">
                          <div class="col-xs-6">
                            <label class="hidden-label" for="CommentAuthor">{{ 'blogs.comments.name' | t }}:</label>
                            <input class="input-full{% if form.errors contains 'author' %} error{% endif %}" type="text" name="comment[author]" placeholder="{{ 'blogs.comments.name' | t }}" id="CommentAuthor" value="{{ form.author }}" autocapitalize="words">
                          </div>
                          <div class="col-xs-6">
                            <label class="hidden-label" for="CommentEmail">{{ 'blogs.comments.email' | t }}:</label>
                            <input class="input-full{% if form.errors contains 'email' %} error{% endif %}" type="email" name="comment[email]" placeholder="{{ 'blogs.comments.email' | t }}" id="CommentEmail" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                          </div>
                        </div>

                        <label class="hidden-label" for="CommentBody">{{ 'blogs.comments.message' | t }}:</label>
                        <div class="row">
                          <div class="col-xs-12 col-sm-8">
                            <textarea class="input-full{% if form.errors contains 'body' %} error{% endif %}" name="comment[body]" id="CommentBody" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
                          </div>
                        </div>
                        <div class="text-left">
                          {% if blog.moderated? %}
                            <p>{{ 'blogs.comments.moderated' | t }}</p>
                          {% endif %}

                          <input type="submit" class="btn" value="{{ 'blogs.comments.post' | t }}">
                        </div>

                      {% endform %}
                    </div>
                  </div>
                </div>
              {% endpaginate %}

            {% endif %}
          </div>
        </article>
      </div>
      {%- assign temp_article = article -%}
      <div class="col-sm-3">
        <div class="side_bar">
          <div class="recent">
            <h5 class="title">Recently Added</h5>
            <ul class="list">
              {% for article in blogs[blog.handle].articles %}
                <li>
                  <a href="{{article.url}}" class='{%- if article.url == temp_article.url -%} active{%- endif -%}'>
                    {{article.title}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {%- assign article = temp_article -%}
    </div>
    <div class="return text-center">
      <a href="{{ blog.url }}" class="return-link">&larr;
        {{ 'blogs.article.back_to_blog' | t: title: blog.title }}</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Article pages",
  "settings": [
    {
      "type": "checkbox",
      "label": "Breadcrumbs",
      "id": "breadcrumbs",
      "default": true
    }, {
      "type": "checkbox",
      "label": "Social share",
      "id": "social",
      "default": true
    }
  ]
}
{% endschema %}
