<!-- /section/blog-template.liquid -->
{% paginate blog.articles by 6 %}
<div id="blog_page">
  <div class="container">
    <header class="section-header text-center">
      <h1>
        {% if current_tags %}
        {{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}
        {% else %}
        {{ blog.title }}
        {% endif %}
        <a href="{{ shop.url }}{{ blog.url }}.atom" class="icon-fallback-text rss-link">
          <i class="fa fa-rss" aria-hidden="true"></i>
        </a>
      </h1>

    </header>
    <hr/>
    <div class="row">
      <ul class="article_list clearfix">
        {% for article in blog.articles %}
        <li class="{{section.settings.width}}">
          {% include 'simply-article' %}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% if paginate.pages > 1 %}
    {% include 'pagination' %}
    {% endif %}
  </div>
</div>
{% comment %}
<script>
  {% endcomment %}
  {% endpaginate %}
  {% schema %}
  {
    "name": "Blog - Page",
      "settings": [
        {
          "type": "image_picker",
          "id": "default_img",
          "label": "Article default image"
        },
        {
          "type": "checkbox",
          "label": "Enable excerpt",
          "id": "excerpt",
          "default": true
        },
        {
          "type": "select",
          "label": "Articles per row",
          "id": "width",
          "options": [
            {
              "label": "1",
              "value": "col-sm-12"
            },
            {
              "label": "2",
              "value": "col-sm-6"
            },
            {
              "label": "3",
              "value": "col-sm-4"
            },
            {
              "label": "4",
              "value": "col-sm-3"
            }
          ]
        }
      ]
  }
  {% endschema %}
  {% comment %}
</script>
{% endcomment %}