<!-- cart template -->
<div id="cart_page">
  <div class="container">
    {% if cart.item_count > 0 %}
    {% assign sizes = '480,765,900,1000,1100,1300,1500,1700' | split: "," %}
    <header class="section-header text-center">
      <h1 class="text-center">{{ 'cart.general.title' | t }}</h1>
      <hr class="hr--small">
    </header>
    <form action="/cart" method="post" novalidate class="cart">
      <div class="cart_header sm-hide">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-sm-6">
                <p>Product details</p>
              </div>

              <div class="col-sm-3">
                <p>QTY</p>
              </div>
              <div class="col-sm-3">
                <p>Total</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% comment %}
      Loop through products in the cart
      {% endcomment %}
      <div class="cart_main">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            {% for item in cart.items %}
            <div class="items">
              <div class="row">
                <div class="col-sm-2 col-xs-6">
                  <div class="image cart_item">
                    <a href="{{ item.url | within: collections.all }}" class="cart__image">

                      {% comment %}
                      More image size options at:
                      - http://docs.shopify.com/themes/filters/product-img-url
                      {% endcomment %}
                      <img src="{{ item | img_url: '100x' }}"
                           class="img_blur lazyload blur-up" 
                           alt="{{ item.title | escape }}"
                           data-src= "{{ item | img_url: 'medium' }}" 
                           data-sizes="auto"
                           data-srcset="{% for size in sizes %}
                                        {% assign size_x = size | append : 'x' %}
                                        {{ item | img_url: size_x }} {{size | append:'w'}},
                                        {% endfor %}"
                           >
                    </a>
                  </div>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <div class="name cart_item ">
                    <a href="{{ item.url }}">
                      {{ item.product.title }}
                    </a>

                    {% unless item.variant.title contains 'Default' %}
                    <p>
                      <small>
                        {{ item.variant.title }}
                      </small>
                    </p>
                    {% endunless %}

                    {% if settings.product_vendor_enable %}
                    <p >{{ item.vendor }}</p>
                    {% endif %}

                    {% assign property_size = item.properties | size %}
                    {% if property_size > 0 %}
                    {% for p in item.properties %}
                    {% assign first_character_in_key = p.first | truncate: 1, '' %}
                    {% unless p.last == blank or first_character_in_key == '_' %}
                    {{ p.first }}:

                    {% if p.last contains '/uploads/' %}
                    <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                    {{ p.last }}
                    {% endif %}

                    <br>
                    {% endunless %}
                    {% endfor %}
                    {% endif %}

                    <p class="cart__product-meta">
                      <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                        {{ 'cart.general.remove' | t }}
                      </a>
                    </p>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="qty cart_item">
                    <label for="updates_{{ item.key }}" class="visually-hidden">{{ 'cart.label.quantity' | t }}</label>
                    <div class="spinner">
                      <span class='min'>-</span>
                      <input type="number" name="updates[]" id="updates_{{ item.key }}" class="cart__product-qty" value="{{ item.quantity }}" min="0" data-id="{{ item.key }}">
                      <span class='plus'>+</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                  <div class="total_price cart_item">
                    {% if item.original_line_price != item.line_price %}
                    <small class="original-price"><s>{{ item.original_line_price | money }}</s></small>
                    {% endif %}
                    {{ item.line_price | money }}
                    <br>
                    {% for discount in item.discounts %}
                    <small class="discount">{{ discount.title }}</small>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="cart_footer">
        <div class="row">
          {% comment %}
          Optional, add a textarea for special notes
          - Your theme settings can turn this on or off. Default is on.
          - Make sure you have name="note" for the message to be submitted properly
          {% endcomment %}
          {% if settings.cart_notes_enable %}
          <div class="col-sm-6 col-xs-12">
            <div class="cart__note">
              <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
            </div>
          </div>
          {% endif %}
          <div class="col-sm-6 col-xs-12{% unless settings.cart_notes_enable %} col-sm-offset-6{% endunless %}">
            <div class="row items">
              <div class="col-xs-6">
                <p class="cart__subtotal">{{ 'cart.general.subtotal' | t }}</p>
              </div>
              <div class="col-xs-6">
                <p class="text-right">{{ cart.total_price | money }}</p>
              </div>
            </div>
            {% if cart.total_discounts > 0 %}
            {% assign cartTotalDiscounts = cart.total_discounts | money %}
            <p class="cart__savings">{{ 'cart.general.savings_html' | t: savings: cartTotalDiscounts }}</p>
            {% endif %}
            <div class="row items">
              <div class="col-xs-12">
                <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
              </div>
            </div>
            <div class="row items">
              <div class="col-xs-6">
                <button type="submit" name="update" class="btn">{{ 'cart.general.update' | t }}</button>
              </div>
              <div class="col-xs-6">
                <div class="text-right">
                  <button type="submit" name="checkout" class="btn">
                    {{ 'cart.general.checkout' | t }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {% else %}
    {% comment %}
    The cart is empty
    {% endcomment %}
    <header class="section-header text-center">
      <h1 class="text-center">{{ 'cart.general.title' | t }}</h1>
      <hr/>
      <p>{{ 'cart.general.empty' | t }}</p>
      <p>Continue browsing <a href="collections/all">here.</a></p>
    </header>
    {% endif %}
  </div>
</div>
