<div class='checkout_contact'>
	<div class='flex-view-xs space'>
		<div class='col-sm-5'>
			<div class='news_form'>

			</div>
			<div class='other_notes'>
				<div class='section__header'>
					<h2>Other Notes</h2>
				</div>
				<textarea name='checkout[attributes][Other notes]'></textarea> 
			</div>
		</div>
		<div class='col-sm-7'>
			<div class='main_form'>

			</div>
		</div>
	</div>
	<div class='section_footer'>
	</div>
</div>