<footer>
	<div class='container-fluid'>
		<div class='border_top clearfix'>
			<div class='col-sm-8 col-sm-offset-2'>
				<ul class='footer_menu flex-view-xs middle space-between'>
					{%-for link in linklists['checkout-footer'].links  -%}
					<li class='col-sm-4'>
						<a title='{{link.title}}' href='{{link.href}}'>
							{{link.title}}
						</a>
					</li>
					{%- endfor -%}
				</ul>
			</div>
		</div>
	</div>
</footer>