<div class='checkout_summary full_height'>
	<div class='header'>
		<h3>Cart Summary</h3>
	</div>
	<div class='content_wrapper'>
	<div class='content'>
	</div>
	<div class='conti'>
		<a class='btn full'>
			CONTINUE TO SHIPPING
		</a>
	</div>
</div>
</div>