<ul class='steps flex-view-xs'>
	<li class='ci col-sm-4 li'>
		<a>Customer Information</a>
	</li>
	<li class='sm col-sm-4 li text-center'>
		<a>Shipping Method</a>
	</li>
	<li class='pm col-sm-4 li text-right'>
	<a>	Payment Method</a>
	</li>
</ul>