<div class='checkout_payment'>

	<div class='payment_content'>
	</div>
	<div class='payment_icons_wrap'>
	<ul class='payment_icons flex-view-xs'>
		<li class='li cod' data-select='cod'>
			<div class='content'>
				<div class='text'>
					Cash on Delivery
				</div>
			</div>
		</li>
		<li class='li credit_card' data-select='credit_card'>
			<div class='content'>
				<div class='text'>
					{{settings.cc_card_name}}
				</div>
				<div class='images'>
					<img src='{{settings.cc_card_image | img_url:'large'}}' alt='cards' >
				</div>
			</div>
		</li>
		<li class='li paypal' data-select='paypal'>
			<div class='content'>
				
				<div class='images'>
					<img src='{{settings.cc_paypal_image | img_url:'large'}}' alt='cards' >
				</div>
			</div>
		</li>
	</ul>
	<p class="temp_text"></p>
</div>
	<div class='flex-view space'>
		<div class='col-sm-6'>
			<div class='billing_content'>

			</div>
		</div>
	</div>
	<div class='section_footer'>
	</div>
</div>