<div class='checkout_header'>
	<div class='container-fluid'>
		<div class='flex-view-xs space'>
			<div class='col-sm-3'>
				<div class='logo img'>
					<a href='https://{{shop.domain}}'>
					<img src='{{settings.checkout_header_logo | img_url:'large'}}' alt='{{shop.name}}'>
				</a>
				</div> 
			</div>
			<div class='col-sm-9'>
				<ul class='custom_step flex-view-xs middle right'>
					{%- assign steps = "Customer Information,Shipping method,Payment Method" | split:',' -%}
					{%- for step in steps -%}
					<li>
						<a class='{{step | handleize}} step'>
							<span class="number">{{forloop.index}}</span>
							<span class='name'>
								{{step}}
							</span>
						</a>
					</li>
					{%- endfor -%}
				</ul>
			</div>
		</div>
	</div>
</div>