<div class='checkout_shipping'>
	<div class='flex-view-xs space'>
		<div class='col-sm-7'>
			<div class="section__header">
				<h2 class="section__title">
					Contact information
				</h2>

			</div>
			<div class='contact_info'>

			</div>
		</div>
		<div class='col-sm-5'>
			<div class='main_form'>

			</div>
		</div>
	</div>
	<div class='section_footer'>
	</div>
</div>