<!-- collection-list -->
{% case section.settings.width %}
  {% when 2 %}
    {%- assign width = "col-sm-6" -%}
  {% when 3 %}
    {%- assign width = "col-sm-4" -%}
  {% else %}
    {%- assign width = "col-sm-3" -%}
{% endcase %}
<style>

  @media(min-width:768px){
  .collection-list-{{section.id}} .li:nth-last-child(-n+{{section.settings.width}}){
    margin-bottom:0;
  }
}
  </style>
<div class="collection-list collection-list-{{section.id}} home-sections-wrapper {{section.settings.section_background}}">
  <div class="{% if section.settings.full %}container-fluid{% else %}container{% endif %}">
    {%- render 'section-header' section:section -%}
    <ul class="flex-view space list scroll-ul">
      {%- for block in section.blocks -%}
        {%- assign collection = collections[block.settings.collection] -%}
        <li class="li {{width}}">
          <div class="image">
            <a href="{{collection.url}}">
              {%- assign src_name = blank -%}
              {%- assign src_name = collection.image -%}
              {%- if src_name == blank -%}
                {%- assign src_name = collection.products[0].featured_image.src -%}
              {%- endif -%}

              {%- if src_name == blank -%}

                {{ 'collection-' | append: forloop.index | placeholder_svg_tag: 'placeholder-svg' }}
              {%- else -%}
                <div class="img">
                  {%- render 'srcset', src_name:src_name,src_alt:collection.title -%}
                </div>
              {%- endif -%}
            </a>
            <h5 class="text">
              <a class="name" href="{{ccollection.url}}">
                {%- if collection.title == blank -%}
                  Collection -
                  {{forloop.index}}
                {%- else -%}
                  {{collection.title}}
                {%- endif -%}
              </a>
            </h5>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "checkbox",
      "label": "Full-width",
      "id": "full"
    },
    {
      "type": "select",
      "id": "section_background",
      "label": "Color scheme",
      "options": [
        {
          "value": "default-color",
          "label": "White"
        },
        {
          "value": "light-color",
          "label": "Light"
        },
        {
          "value": "dark-color",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Collection List"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Express your collection list with description.</p>"
    },
    {
      "type": "range",
      "id": "width",
      "label": "Collection per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    }
  ],
  "blocks": [
    {
      "name": "Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "label": "Select collection",
          "id": "collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection list",
      "category": "Collection",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}