<!-- collection-banner -->
{% unless section.settings.image == blank %}
  {% assign common_image = true %}
{% endunless %}
{% for block in section.blocks %}
  {% assign collection_handle = block.settings.collection %}
  {% if collection_handle == collection.handle %}
    {% assign common_image = false %}
    <div id="collection_image">
      <div class="{% unless section.settings.full %}container{% endunless %}">
        <div class="collection_img">
          <div class="img xs-hide">
            {%- render 'srcset', src_name:block.settings.image,src_alt:collection.title -%}
          </div>
          <div class="mobile-img xs-show">
            {%- render 'srcset', src_name:block.settings.image_mob,src_alt:collection.title -%}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
{% if common_image %}
  <div id="collection_image">
    <div class="{% unless section.settings.full %}container{% endunless %}">
      <div class="collection_img">
        <div class="img xs-hide">
          {%- render 'srcset', src_name:section.settings.image,src_alt:section.settings.image.alt | escape -%}
        </div>
        <div class="mobile-img xs-show">
          {%- render 'srcset', src_name:section.settings.image_mob,src_alt:section.settings.image.alt | escape -%}
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}

{
  "name": "Collection banner",
  "class": "no_padding",
  "settings": [
    {
      "type": "checkbox",
      "id": "full",
      "label": "Full-width",
      "default": true
    }, {
      "type": "image_picker",
      "label": "Common collection banner",
      "id": "image"
    }, {
      "type": "image_picker",
      "label": "Common collection banner mobile",
      "id": "image_mob"
    }
  ],
  "blocks": [
    {
      "name": "Banner",
      "type": "image",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select collection",
          "info": "Specific banner image for collection"
        }, {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }, {
          "type": "image_picker",
          "id": "image_mob",
          "label": "Image mobile"
        }
      ]
    }
  ]
}

{% endschema %}