<!-- collection-template -->
{% if section.settings.filter %}
  {% assign filter = true %}
{% endif %}
{% if section.settings.side_filter == 'true' %}
  {% assign side_filter = true %}
{% else %}
  {% assign side_filter = false %}
{% endif %}
{% assign sort =  section.settings.sort %}
{% assign breadcrumbs = section.settings.breadcrumbs %}
<div id="collection_page">

  {% if section.settings.header %}
    <div class="header">
      <h1 class="text-center">{{collection.title}}</h1>
    </div>
  {% endif %}


  {% if filter and side_filter %}{% endif %}
  <div class="container">

    {% if section.settings.description %}
      <div class="description">
        {{collection.description}}
      </div>
    {% endif %}

    {% if filter and side_filter %}
      {% if breadcrumbs %}
        {% include 'breadcrumbs' %}
      {% endif %}
      <div class="filter_clone"></div>
      <div class="collection_top">
        <div class="filter_tape {% if sort and breadcrumbs %}table-view-xs{% else %}row{% endif %} clearfix">
          <div class="col-xs-6">
            <a class="filter_btn btn">
              Filter
            </a>
          </div>
          {% if sort %}
            <div class="col-xs-6">
              <div class="sorting">
                {% include 'sort-products' %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% else %}
      <div class="table-view">
        {% if breadcrumbs %}
          <div class="col-xs-6">
            {% include 'breadcrumbs' %}
          </div>
        {% endif %}
        {% if sort %}
          <div class="col-xs-6">
            <div class="sorting">
              {% include 'sort-products' %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
    {% paginate collection.products by {{section.settings.image_per_page}}  %}
      <div class="{% if filter %}{% unless side_filter %}row{% endunless %}{% endif %}">
        {% if filter %}
          {% unless side_filter %}
            <div class="col-sm-3">
              {% include 'collection-filter' %}
            </div>
          {% endunless %}
        {% endif %}
        <div class="{% if filter %}{% unless side_filter %}col-sm-9{% endunless %}{% endif %}">
          <div class="collection">
            <ul class="list row">
              {% assign count = 0 %}
              {% for product in collection.products %}
                {% assign count =  forloop.index %}
                <li class="{{section.settings.product_row}} col-sm-4 col-xs-6">
                  {% include 'simply-product' %}
                  {% if section.settings.swatch %}
                    {% if section.settings.sl_hide %}
                      {% assign hide_label = true %}
                    {% endif %}
                    {% for block in section.blocks %}
                      {% assign v_name = block.settings.variant %}
                      {% unless v_name == blank %}
                        {% include 'swatch' with v_name %}
                      {% endunless %}
                    {% endfor %}
                    {% include 'loading' %}
                  {% endif %}
                </li>
              {% endfor %}
              {% if count == 0 %}
                <li>
                  <h3 class="text-center">No products found.</h3>
                </li>
              {% endif %}
            </ul>
          </div>

          {% if paginate.pages > 1 %}
            {% include 'pagination' %}
          {% endif %}
        </div>
        {% if filter and side_filter %}
          <div class="fixed_filter">
            <div class="content">
              {% include 'collection-filter' %}
            </div>
          </div>
        {% endif %}
      {% endpaginate %}
    </div>
  </div>
</div>

  {% schema %}
  {
    "name": "Collection settings",
    "max_blocks": 3,
    "settings": [
      {
        "type": "checkbox",
        "label": "Breadcrumbs",
        "id": "breadcrumbs",
        "default": true
      },
      {
        "type": "checkbox",
        "label": "Collection header",
        "id": "header",
        "default": true
      },
      {
        "type": "checkbox",
        "label": "Collection description",
        "id": "description",
        "default": true
      },
      {
        "type": "checkbox",
        "label": "Sort products",
        "id": "sort",
        "default": true
      },
      {
        "type": "checkbox",
        "label": "Filter",
        "id": "filter",
        "default": true,
        "info": "Add tags to the products like 'Color_Red'"
      },
      {
        "type": "link_list",
        "id": "filter_menu",
        "label": "Select filter menu"
      },
      {
        "type": "select",
        "label": "Filter style",
        "id": "side_filter",
        "info": "Enable filter first.",
        "options": [
          {
            "label": "Sidebar filter",
            "value": "false"
          },
          {
            "label": "Sidebar filter - with slide",
            "value": "true"
          }
        ]
      },
      {
        "type": "checkbox",
        "label": "Swatches",
        "id": "swatch",
        "default": true,
        "info": "Please select add variant name"
      },
      {
        "type": "checkbox",
        "label": "Hide  swatches title",
        "id": "sl_hide",
        "default": true
      },
      {
        "type": "number",
        "id": "image_per_page",
        "label": "Images per Page",
        "default": 12
      },
      {
        "type": "select",
        "label": "Product per row",
        "id": "product_row",
        "info": "Only for desktop view",
        "options": [
          {
            "value": "col-md-6",
            "label": "2"
          },
          {
            "value": "col-md-4",
            "label": "3"
          },
          {
            "value": "col-md-3",
            "label": "4"
          }
        ]
      }
    ],
    "blocks": [
      {
        "name": "Variant name for swatches",
        "type": "variant",
        "settings": [
          {
            "type": "text",
            "label": "Variant name",
            "id": "variant"
          }
        ]
      }
    ]
  }

{% endschema %}