<!-- featured-products -->
{% case section.settings.width %}
  {% when 2 %}
    {%- assign width = "col-sm-6" -%}
  {% when 3 %}
    {%- assign width = "col-sm-4" -%}
  {% else %}
    {%- assign width = "col-sm-3" -%}
{% endcase %}
<style>
  @media(min-width:768px){
    .featured-products-{{section.id}}.featured-products ul.list li:nth-last-child(-n+{{section.settings.width}}){
      margin-bottom:0;
    }
  }
  </style>

<div class="featured-products featured-products-{{section.id}} home-sections-wrapper {{section.settings.section_background}}">
  <div class="{% if section.settings.full %}container-fluid{% else %}container{% endif %}">
    {%- render 'section-header' section:section -%}
    <div class='{% if section.settings.style == 'slider' %}slider-wrapper{% endif %}'>
      <ul class="flex-view space list scroll-ul{% if section.settings.style == 'slider' %} slickSlider{% endif %}">
        {%- assign collection = collections[section.settings.collection] -%}
        {%- if collection != blank -%}
          {% for product in collection.products limit: section.settings.limit %}
            <li class="{{width}}">
              {% render 'simply-product' product:product %}
            </li>
          {% endfor %}
        {%- else -%}
          {% for i in (1..4) %}
            {% render 'simply-product' product:blank,i:i %}
          {%- endfor -%}
        {%- endif -%}
      </ul>
      {% if section.settings.style == 'slider' %}
        <div class="xs-hide">
          <div class="arrow-left">{%- render 'icons' icon:'arrow-left' -%}</div>
          <div class="arrow-right">{%- render 'icons' icon:'arrow-right' -%}</div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured products",
  "settings": [
    {
      "type": "checkbox",
      "label": "Full-width",
      "id": "full"
    },
    {
      "type": "select",
      "id": "section_background",
      "label": "Color scheme",
      "options": [
        {
          "value": "default-color",
          "label": "White"
        },
        {
          "value": "light-color",
          "label": "Light"
        },
        {
          "value": "dark-color",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "FEATURED PRODUCTS"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Number of products",
      "min": 2,
      "max": 16,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        },
        {
          "value": "slider",
          "label": "Slider"
        }
      ]
    }
    
  ],
  "presets": [
    {
      "name": "Featured products",
      "category": "Collection"
    }
  ]
}
{% endschema %}