<!-- featured-video -->
{% case section.settings.width %}
  {% when 1 %}
    {%- assign width = "col-sm-full" -%}
  {% when 2 %}
    {%- assign width = "col-sm-6" -%}
  {% when 3 %}
    {%- assign width = "col-sm-4" -%}
  {% else %}
    {%- assign width = "col-sm-3" -%}
{% endcase %}
<style>
  @media(min-width:768px){
  #featured-video-{{section.id}} ul.list li:nth-last-child(-n+{{section.settings.width}}){
    margin-bottom:0;
  }
}
  </style>
<div class="featured-video home-sections-wrapper {{section.settings.section_background}}" id="featured-video-{{section.id}}">
  <div class="{% unless section.settings.full %}container{% endunless %}">
    {%- render 'section-header' section:section -%}
    <ul class="list flex-view{% unless section.settings.full %} space{% endunless %}">
      {% for block in section.blocks %}
        <li class="{{width}}">
          <div class="videos">
            <div class="{% if block.settings.video_url.type == 'youtube' %}youtube-video{% else %}vimeo-video{% endif %}" data-id='{{ block.settings.video_url.id }}'>
              <div class="video-frame">
                <div class="img">
                  {%- if block.settings.image == blank -%}
                    {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                  {%- else -%}
                    {%- render 'srcset',src_name:block.settings.image,src_alt:block.settings.image.alt -%}
                  {%- endif -%}
                </div>
                <div class="text-wrapper">
                  {% if block.settings.title != blank %}
                    <h3 class="video-title">{{block.settings.title}}</h3>
                  {% endif %}
                  {% if block.settings.description != blank %}
                    <div class="video-description">{{block.settings.description}}</div>
                  {% endif %}
                  <a data-fancybox="quick-view" href="{{block.settings.video_url}}&amp;autoplay=1&amp;rel=0&amp;">{%- render 'icons',icon:'play-button',width:70,height:70 -%}</a>
                </div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% schema %}
{
  "name": "Videos",
  "max_blocks": 10,
  "settings": [
    {
      "type": "checkbox",
      "label": "Full-width",
      "id": "full",
      "default":true
    },
    {
      "type": "select",
      "id": "section_background",
      "label": "Color scheme",
      "options": [
        {
          "value": "default-color",
          "label": "White"
        },
        {
          "value": "light-color",
          "label": "Light"
        },
        {
          "value": "dark-color",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Video Gallery"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default":"<p>Pair text with a video to draw attention to an important detail of your brand or product line.</p>"
    },
    {
      "type": "range",
      "id": "width",
      "label": "Video per row",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Video title",
          "default": "Video title"
        },
          {
            "id": "video_url",
            "type": "video_url",
            "label": "Video URL",
            "accept": [
              "youtube",
              "vimeo"
            ],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Videos",
        "category": "Video",
        "blocks":[
        {
          "type":"video"
        }
        ]
      }
    ]
  }
{% endschema %}