<!-- footer-script -->
{% if template contains 'collection' %}
  <script type="text/javascript">
    simply.defaultCollectionSort = "{{ collection.sort_by | default: collection.default_sort_by | escape }}";
    simply.collectionCurrentTags = "{{ current_tags }}";
  </script>
{% endif %}
<script>
  var theme = {
    strings: {
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      showMore: {{ 'general.filters.show_more' | t | json }},
      showLess: {{ 'general.filters.show_less' | t | json }}
    },
    moneyFormat: {{ shop.money_format | json }}
  }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
</script>

<link rel="stylesheet" href="{{ 'tailwind.css' | asset_url }}">
<script src="{{'theme.js' | asset_url}}" type="text/javascript" defer="defer"></script>

{% if template contains 'customers' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
{% endif %}

<div class="external-script">
  {% for block in section.blocks %}
    {{block.settings.script}}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Footer - Scripts",
  "class": "no_padding",
  "blocks": [
    {
      "name": "Script",
      "type": "script",
      "settings": [
        {
          "type": "textarea",
          "label": "Script",
          "id": "script"
        }
      ]
    }
  ]
}
{% endschema %}