<!-- Footer -->
<div class="footer-wrapper">
  <div class="container">
    {% render 'footer-nav' %}
    <div class="footer-icon">
      <div class="border"></div>
      {% render 'social-links' %}
    </div>
    <div class="copyright">
      <div class="text">
        <p>Copyright ©
          {{shop.name | capitalize }}. All rights reserved.
          {% if section.settings.credit %}
            Designed by
            <a href="http://lucentinnovation.com/" target="_blank">Lucent Innovation</a>.
          {% endif %}
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "nav_1",
      "label": "Select menu 1"
    },
    {
      "type": "link_list",
      "id": "nav_2",
      "label": "Select menu 2"
    },
    {
      "type": "link_list",
      "id": "nav_3",
      "label": "Select menu 3"
    },
    {
      "type": "checkbox",
      "id": "credit",
      "label": "Enable credit detail?",
      "default": true
    }
  ]
}
{% endschema %}
