<!-- full-newsletter -->
<div class="full-newsletter text-center home-sections-wrapper {{section.settings.section_background}}">
  {%- unless section.settings.image == blank -%}
    <div class="img">
      {%- render 'srcset',src_name:section.settings.image,src_alt:"Newsletter image" -%}
    </div>
  {%- endunless -%}
  <div class="form-wrapper">
    {%- render 'section-header' section:section -%}
    <div class="form">
      {% render 'news-letter' %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "type": "select",
      "id": "section_background",
      "label": "Color scheme",
      "options": [
        {
          "value": "default-color",
          "label": "White"
        },
        {
          "value": "light-color",
          "label": "Light"
        },
        {
          "value": "dark-color",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "JOIN OUR NEWSLETTER"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    }
  ],
  "presets": [
    {
      "name": "Newsletter",
      "category": "Newsletter"
    }
  ]
}
{% endschema %}