{% comment %}Header width{% endcomment %}
{%-  if section.settings.full -%}
  {%- assign container = 'container-fluid' -%}
{% else %}
  {%- assign container = 'container' -%}
{%- endif -%}


{% comment %}Logo size{% endcomment %}
{%- assign logoSize = section.settings.logo_size -%}
{%- if logoSize == 0 %}
  {%- assign logoSize = 50 -%}
{%- endif %}
{%- assign logoSize_xs = section.settings.logo_size_xs -%}
{%- if logoSize_xs == 0 -%}
  {%- assign logoSize_xs = 30 -%}
{%- endif %}

{% comment %}Header fix{% endcomment %}
{%- if section.settings.fix -%}
  {%- assign header_fix = true -%}
{%- endif %}

{% comment %}Side cart{% endcomment %}
{%- assign side_cart = settings.side_cart -%}


{%- if section.settings.fix -%}
  <div class="header-clone"></div>
{%- endif -%}

{% comment %}Main header{% endcomment %}
<header class="main-header" {% if header_fix %} data-fix="fixed" {% endif %}>

  {% comment %}Large screen header{% endcomment %}
  <div class="large-header">
    {% render 'large-header' ,container:container,side_cart:side_cart %}
  </div>

  <div class="bg-blue-800">
    <h1 class="text-red-400 text-center text-2xl font-serif">THIS IS THE DEMO EXAMPLE OF TAILWIND</h1>
  </div>

  {% comment %}Small screen header{% endcomment %}
  <div class="small-header">
    {% include 'small-header' %}
  </div>
  {% render 'search-form' %}
  <link rel="stylesheet" href="{{ 'tailwind.css' | asset_url }}">
</header>

{%- include 'mobile-menu' -%}

{% schema %}

{
  "name": "Header",
  "class": "no_padding",
  "settings": [
    {
      "type": "checkbox",
      "label": "Full-width",
      "id": "full"
    }, 
    {
      "type": "checkbox",
      "label": "Fix on top",
      "id": "fix"
    }, 
    {
      "type": "image_picker",
      "id": "site_logo",
      "label": "Logo"
    }, 
    {
      "type": "range",
      "id": "logo_size",
      "min": 20,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Logo size",
      "default": 50
    }, 
    {
      "type": "range",
      "id": "logo_size_xs",
      "min": 20,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "Logo size (Mobile)",
      "default": 50
    }, 
    {
      "type": "header",
      "content": "Main menu"
    }, 
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Select menu",
      "info": "To add a mega menu scroll at bottom of this section and select 'Add mega menu'"
    },
    {
      "type": "select",
      "id": "submenu_type",
      "label": "Sub menu shows on",
      "options": [
        {
          "value": "hover",
          "label": "Hover"
        },
        {
          "value": "click",
          "label": "Click"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Mega menu",
      "settings": [
        {
          "type": "checkbox",
          "id": "mega_full",
          "label": "Full width",
          "default": false
        },
        {
          "type": "text",
          "label": "Select mega menu",
          "id": "mega",
          "info": "Title of any link from main navigation"
        },
        {
          "type": "image_picker",
          "id": "mega_image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "x_pos",
          "label": "Image X-position",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 2,
          "default": 50
        },
        {
          "type": "range",
          "id": "y_pos",
          "label": "Image Y-position",
          "unit": "%",
          "min": 0,
          "max": 100,
          "step": 2,
          "default": 50
        },
        {
          "type": "url",
          "id": "mega_image_url",
          "label": "Image URL"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
  /*   logo size */
  .main-header  .site-logo img{
    max-height:{{logoSize}}px;
  }
  @media(max-width:767px){
    .main-header  .site-logo img{
      max-height:{{logoSize_xs}}px;
    }
  }
  </style>