<!-- home-blog -->
{% assign blog_limit = section.settings.blog_limit %}
<div class="section">
  <div class="home_blog">
    {% if section.settings.blog == blank %}
      {% render 'no-section-msg' %}
    {% else %}
      {% assign blog = blogs[section.settings.blog] %}
      <div class="blogs">
        <div class="{% unless section.settings.full %}container{% endunless %}">
          <h3 class="title text-center">{{section.settings.header}}</h3>
          <ul class="article_list clearfix">
            {% assign blog_img_size = '300x' %}
            {% for article in blog.articles limit : blog_limit %}
              <li class="{{section.settings.width}}">
                {% include 'simply-article' %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "Blog",
  "settings": [
    {
      "type": "checkbox",
      "label": "Full-width",
      "id": "full"
    }, {
      "type": "text",
      "label": "Header text",
      "id": "header",
      "default": "BLOGS"
    }, {
      "type": "blog",
      "label": "Select blog",
      "id": "blog"
    }, {
      "type": "number",
      "label": "Blog limit",
      "id": "blog_limit",
      "default": 3
    }, {
      "type": "image_picker",
      "label": "Default article image",
      "id": "default_img"
    }, {
      "type": "checkbox",
      "label": "Enable excerpt",
      "id": "excerpt",
      "default": true
    }, {
      "type": "select",
      "label": "Articles per row",
      "id": "width",
      "options": [
        {
          "label": "1",
          "value": "col-sm-12"
        }, {
          "label": "2",
          "value": "col-sm-6"
        }, {
          "label": "3",
          "value": "col-sm-4"
        }, {
          "label": "4",
          "value": "col-sm-3"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Home page - Blog",
      "category": "Blogs"
    }
  ]
}

{% endschema %}
