{%- if section.settings.enable -%}
  <!-- home-fix-banners-xs -->
  <div class="section no-space color xs-show">
    {%- if section.blocks.size == 0 -%}
      {%- render 'no-section-msg' -%}
    {%- else -%}
      <div class="home_fix_banners clearfix">
        <ul class="list">
          {%- assign no_height_alignment = true -%}
          {%- for block in section.blocks -%}
            {%- assign name = block.settings.collection -%}
            <li class="li">
              <div class="image">
                <div class="img active">
                  <a href="{{block.settings.url}}">
                    {%- render 'srcset',src_name:block.settings.image,src_alt:block.settings.title -%}
                  </a>
                </div>
                <div class="text">
                  <h5 class="name">{{block.settings.title}}</h5>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
        {%- assign no_height_alignment = false -%}
      </div>
    </div>
  {% endif %}
{% endif %}
  {% schema %}
  {
    "name": "Mobile fix banners",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable",
        "info": "Only for mobile"
      }
    ],
    "blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
          {
            "type": "text",
            "label": "Title",
            "id": "title"
          },
          {
            "type": "url",
            "label": "Select URL",
            "id": "url"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Or upload custom image"
          }
        ]
      }
    ]
  }

{% endschema %}