<!-- image-with-text -->
<div class="image-with-text home-sections-wrapper no-padding {{section.settings.section_background}}">
  <div class="{% unless section.settings.full %}container{% endunless %}">
    {% for block in section.blocks %}
      <div class="single-section">
        <div class="flex-view-xs middle{% unless block.settings.layout == 'left-image' %} reverse{% endunless %}">
          <div class="col-sm-6 col-xs-12">
            <div class="img">
              <a {% unless block.settings.btn_url == blank %} href="{{block.settings.btn_url}}" {% endunless %}>
                {% if block.settings.image == blank %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% else %}
                  {%- render 'srcset',src_name:block.settings.image,src_alt:block.settings.image.alt -%}
                {% endif %}
              </a>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="section-header">
              {% unless block.settings.title == blank %}
                <h3 class="section-title xs-center">{{block.settings.title}}</h3>
              {% endunless %}
              <div class="section-description{% if block.settings.title == blank %} space{% endif %}">
                {{block.settings.description}}
              </div>
              {% unless block.settings.btn == blank %}
                <div class="button xs-center">
                  <a class="btn{% if section.settings.section_background == 'dark-color' %} second{% endif %}" {% unless block.settings.btn_url == blank %} href="{{block.settings.btn_url}}" {% endunless %}>
                    {{block.settings.btn}}
                  </a>
                </div>
              {% endunless %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "Image with text",
  "settings": [
    {
      "type": "checkbox",
      "label": "Full-width",
      "id": "full",
      "default":true
    },
    {
      "type": "select",
      "id": "section_background",
      "label": "Color scheme",
      "options": [
        {
          "value": "default-color",
          "label": "White"
        },
        {
          "value": "light-color",
          "label": "Light"
        },
        {
          "value": "dark-color",
          "label": "Dark"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Add content",
      "settings": [
        {
          "type": "select",
          "label": "Layout",
          "id": "layout",
          "info": "Layout -1 -> Left side image; Layout-2 -> Right side image",
          "options": [
            {
              "label": "Layout - 1",
              "value": "left-image"
            },
            {
              "label": "Layout - 2",
              "value": "right-image"
            }
          ]
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title",
          "default":"Share brand or product details"
        },
        {
          "type": "richtext",
          "label": "Description",
          "id": "description",
          "default":"<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
          },
          {
            "type": "text",
            "label": "Button name",
            "id": "btn"
          },
          {
            "type": "url",
            "label": "Button URL",
            "id": "btn_url"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Text",
        "blocks": [
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}