<!-- image-gallery -->
{% case section.settings.width %}
  {% when 2 %}
    {%- assign width = "col-sm-6" -%}
  {% when 3 %}
    {%- assign width = "col-sm-4" -%}
  {% else %}
    {%- assign width = "col-sm-3" -%}
{% endcase %}
<style>
    .image-gallery-{{section.id}} .link{
      color:{{section.settings.text_color}};
    }
    @media(min-width:768px){
    .image-gallery-{{section.id}}.image-gallery ul.list li:nth-last-child(-n+{{section.settings.width}}){
      margin-bottom:0;
    }
  }
    </style>
<div class="image-gallery image-gallery-{{section.id}} home-sections-wrapper {{section.settings.section_background}}">
  <div class="{% if section.settings.full %}container-fluid{% else %}container{% endif %}">

   {%- render 'section-header' section:section -%}

    <ul class="list scroll-ul flex-view{% unless section.settings.gutter %} space{% endunless %}">
      {%- for block in section.blocks -%}
        <li class="{{width}} col-xs-6">
          <div class="section-block-wrapper">
            {%- comment -%}Image section{%- endcomment -%}
            <div class="img-wrapper">
              <a href="{{block.settings.link}}">
                {%- if block.settings.image == blank -%}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% else %}
                  <div class="img xs-hide">
                    {%- render 'srcset', src_name:block.settings.image,src_alt:block.settings.image.alt -%}
                  </div>
                  {%- if block.settings.image-mob != blank -%}
                    <div class="mob-img xs-show">
                      {%- render 'srcset', src_name:block.settings.image-mob,src_alt:block.settings.image-mob.alt -%}
                    </div>
                  {% endif %}
                {% endif %}
              </a>
            </div>

            <div class="text-wrapper">
              {%- if block.settings.title != blank -%}
                <h5 class="grid-title">
                  <a class="link" {%- unless block.settings.link == blank -%} href='{{block.settings.link}}' {%- endunless -%}>
                    {{block.settings.title}}
                  </a>
                </h5>
              {%- endif -%}
              {%- if block.settings.button_text != blank -%}
                <a class="btn" {%- unless block.settings.link == blank -%} href='{{block.settings.link}}' {%- endunless -%}>
                  {{block.settings.button_text}}
                </a>
              {%- endif -%}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}

{
  "name": "Image gallery",
  "settings": [
    {
      "type": "checkbox",
      "label": "Full-width",
      "id": "full"
    },
    {
      "type": "select",
      "id": "section_background",
      "label": "Color scheme",
      "options": [
        {
          "value": "default-color",
          "label": "White"
        },
        {
          "value": "light-color",
          "label": "Light"
        },
        {
          "value": "dark-color",
          "label": "Dark"
        }
      ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "SHOP BY CATEGORY"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "checkbox",
      "id": "gutter",
      "label": "No Gutter",
      "info": "No spacing between images"
    },
    {
      "type": "range",
      "id": "width",
      "label": "Image per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#fff"
    }
  ],
  "max_blocks": 12,
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image-mob",
          "label": "Image mobile"
        },
        {
          "type": "text",
          "label": "Title",
          "id": "title",
          "default": "Title text"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Shop now"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Image URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image gallery",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}

{% endschema %} 