<!-- logo-list -->
<div class="logo-list logo-list-section-{{section.id}} home-sections-wrapper {{section.settings.section_background}}">
  <div class="{% if section.settings.full %}container-fluid{% else %}container{% endif %}">
    {%- render 'section-header' section:section -%}
    <ul class="list flex-view-xs center">
      {%- for block in section.blocks -%}
        <li class="li col-xs-6">
          {%- if block.settings.image == blank -%}
            {{ 'logo' | placeholder_svg_tag: 'icon--placeholder' }}
          {%- else -%}
            {%- if block.settings.link -%}
              <a href='{{block.settings.link}}' target="_blank">
              {%- endif -%}
              {%- render 'srcset',src_name:block.settings.image,src_alt:block.settings.image.alt -%}
              {%- if block.settings.link -%}
              </a>
            {%- endif -%}
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>

{% schema %}

{
  "name": "Logo list",
  "settings": [
    {
      "type": "checkbox",
      "label": "Full-width",
      "id": "full"
    }, {
      "type": "select",
      "id": "section_background",
      "label": "Color scheme",
      "options": [
        {
          "value": "default-color",
          "label": "White"
        }, {
          "value": "light-color",
          "label": "Light"
        }, {
          "value": "dark-color",
          "label": "Dark"
        }
      ]
    }, {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "As seen in"
    }, {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    }, {
      "type": "range",
      "id": "logo_width",
      "label": "Logo width",
      "unit": "px",
      "min": 100,
      "max": 250,
      "step": 10,
      "default": 150
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }, {
          "type": "url",
          "id": "link",
          "label": "Image URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        }, {
          "type": "image"
        }, {
          "type": "image"
        }, {
          "type": "image"
        }
      ]
    }
  ]
}

{% endschema %}
<style>
  @media(min-width:768px) {
  .logo-list-section-{{section.id}} li {
      width: {{section.settings.logo_width}}px;
    }
  }
</style>