<div id="faq_page">
  <div class="page_template">
    <div class="container">
      <div class="text-center">
        <h3>{{ page.title }}</h3>
      </div>
      <hr/>
      {% if section.blocks.size == 0 %}
      {% include 'no-section-msg' %}
      {% else %}
      <div class="qna">
        {% for block in section.blocks %}
        <h4 class="que">{{block.settings.que}} 
          <i class="fa {% if forloop.index == 1 %}fa-angle-up{% else %}fa-angle-down{% endif %}" aria-hidden="true"></i></h4>
        <div class="ans">
          <div class="content">
          {{block.settings.ans}}
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "FAQ",
  "max_blocks": 50,
  "blocks": [
    {
      "type": "text",
      "name": "Add content",
      "settings": [
        {
          "type": "text",
          "label": "Question",
          "id": "que"
        },
        {
          "type": "richtext",
          "label": "Answer",
          "id": "ans"
        }
      ]
    }
  ]
}
{% endschema %}
