<!-- product-template(section) -->
<div id="product-page">
  <div itemscope itemtype="http://schema.org/Product" data-section-id="{{ section.id }}" data-section-type="product-template" data-image-zoom-type="{{ section.settings.zoom_enable }}" data-enable-history-state="true">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

    <div class="card-{{product.id}} product-card">
      <div class="container">

        {%- comment -%}Product breadcrumbs{%- endcomment -%}
        {% if section.settings.breadcrumbs %}
          {% render 'breadcrumbs' %}
        {% endif %}

        <div class="flex-view space">

          {%- comment -%}Product Images{%- endcomment -%}
          <div class="col-md-6 col-sm-6">
            <div class="image-block">
              {% render 'product-image-block' %}
            </div>
          </div>

          {%- comment -%}Product Details{%- endcomment -%}
          <div class="col-md-6 col-sm-6">
            <div class="product-details">
              {% render 'product-details' %}
            </div>
          </div>
        </div>
      </div>
      {%- comment -%}Product JSON{%- endcomment -%}
      {% render 'product-script' %}
    </div>
  </div>
</div>
{% schema %}

{
  "name": "Product",
  "settings": [
    {
      "type": "checkbox",
      "label": "Breadcrumbs",
      "id": "breadcrumbs",
      "default": true
    },
    {
      "type": "checkbox",
      "label": "Product image zoom",
      "id": "zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "label": "Hide soldout product",
      "id": "hide_sold_out",
      "default": false
    },
    {
      "type": "checkbox",
      "label": "Social share buttons",
      "id": "social",
      "default": true
    },
    {
      "type": "checkbox",
      "label": "Product swatch",
      "id": "product_swatch",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": "Show dynamic checkout button",
      "default": true
    },
    {
      "type": "header",
      "content": "Product description"
    },
    {
      "type": "select",
      "label": "Position",
      "id": "description",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ]
    }
  ]
}
{% endschema %} 