{%- if section.settings.show_related_products -%}
  <!-- product-recommendations -->
  {% assign heading = section.settings.related_title %}
  {% assign limit = section.settings.related_grid_num | times:section.settings.related_grid_row %}

  {% case section.settings.related_grid_num %}
    {% when 2 %}
      {%- assign col_width = "col-sm-6" -%}
    {% when 3 %}
      {%- assign col_width = "col-sm-3" -%}
    {% else %}
      {%- assign col_width = "col-sm-4" -%}
  {% endcase %}

  <div class="product-recommendations" data-base-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}" data-limit="{{ limit }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations">
    {% if recommendations.performed %}
      {% if recommendations.products_count > 0 %}
        <div class="section-header text-center">
          <h3 class='title'>{{ heading }}</h3>
        </div>
        <div class="container">
          <ul class="flex-view-xs space scroll-ul">
            {% for product in recommendations.products %}
              <li class="{{col_width}}">
                {% render 'simply-product',product:product %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endif %}
  </div>
{%- endif -%}
{% schema %}

{
  "name": "Related products",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_related_products",
      "label": "Show related products",
      "default": true
    },
    {
      "id": "related_title",
      "type": "text",
      "label": "Section title",
      "default": "You may also like"
    },
    {
      "type": "select",
      "id": "related_grid_num",
      "label": "Products per row (Desktop)",
      "default": "4",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        },
        {
          "value": "4",
          "label": "4"
        }
      ]
    },
    {
      "type": "select",
      "id": "related_grid_row",
      "label": "Number of rows (Desktop)",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    }
  ]
}

{% endschema %}
