<!-- /templates/search.liquid -->
{% comment %}

To return only products or pages in results:
- http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
- Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}
{% comment %}
Avoid accessing search.results before the opening paginate tag.
If you do, the pagination of results will be broken.
{% endcomment %}
{% paginate search.results by 12 %}
  <div id="search-page">
    <div class="container">
      {% if search.performed %}
        {% if search.results_count == 0 %}
          <h3 class="text-center">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h3>
        {% else %}
          <h3 class="text-center">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h3>
        {% endif %}
      {% else %}
        <h1 class="text-center">{{ 'general.search.title' | t }}</h1>
      {% endif %}
      <div class="text-center">
        {% render 'search-form',current_page:'search-page' %}
      </div>

      {% if search.performed %}
        <ul class="row list">
          {% for item in search.results %}
            {% if item.object_type == 'product' %}
              {% assign product = item %}
              <li class="{{section.settings.product_row}} col-xs-6">
                {% include 'simply-product' %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endpaginate %}

{% schema %}
{
  "name": "Search products",
  "settings": [
    {
      "type": "select",
      "id": "product_row",
      "label": "Products per row (Desktop)",
      "default": "col-sm-4",
      "options": [
        {
          "value": "col-sm-6",
          "label": "2"
        }, {
          "value": "col-sm-4",
          "label": "3"
        }, {
          "value": "col-sm-3",
          "label": "4"
        }
      ]
    }
  ]
}
{% endschema %}