<!-- slideshow -->
{%- comment -%} Variables {%- endcomment -%}
{%- assign mode = section.settings.mode -%}
{%- assign animation = section.settings.animation -%}
{%- assign type = section.settings.type -%}
<style>
    {%- if animation -%}
    #section-{{section.id}} .img.slide{
      -webkit-animation-duration: {{section.settings.speed}}s;
      animation-duration: {{section.settings.speed}}s;
      -webkit-transition: all 1s ease;
      transition: all 1s ease;
      opacity: 1 !important;
    }
    #section-{{section.id}} .img.fade{
     opacity: 1;
    transform: translateX(0px);
    transition: all 0.7s ease;
    }
    #section-{{section.id}} .img.fade.animate-out{
      transition: all 0.5s ease-in 0.05s;
      opacity: 0;
      -moz-transform: translateX(-200px);
      -o-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
      -webkit-transform: translateX(-200px);
      transform: translateX(-200px)
    }
    #section-{{section.id}} .text-wrapper [data-animation-in] {
      opacity: 0;
      animation-duration: 1.5s;
      transition: opacity 0.5s ease 0.3s;
    }
    {%- endif -%}
    {%- for block in section.blocks -%}
    {% if block.settings.overlay %}
    .block-{{forloop.index}} .overlay:after{
      background-color: {{block.settings.overlay_color}};
    }
    {% endif %}
    #section-{{section.id}}  .block-{{forloop.index}} h3{
      color:{{block.settings.slider_header_color}};
    }
    #section-{{section.id}} .block-{{forloop.index}} p{
      color:{{block.settings.slider_text_color}};
    }
    @media(min-width:768px){
      #section-{{section.id}} .block-{{forloop.index}} h3{
        font-size:{{block.settings.slider_header_size}}px;
      }
      #section-{{section.id}} .block-{{forloop.index}} p{
        font-size:{{block.settings.slider_text_size}}px;
      }
    }
    {%- endfor -%}
  </style>

<div class="slideshow" id="section-{{section.id}}">
  <div class="{% unless section.settings.full %}container{% endunless %}">
    <div class="slickSlider {{type}}" data-speed="{{section.settings.speed | times:1000}}" data-mode="{{mode}}" data-height="{{section.settings.adaptive_height}}" data-animation="{{animation}}">

      {%- for block in section.blocks -%}
        <div class="single-item block-{{forloop.index}}">
          <div class="img{% if animation %} {{mode}}{% endif %}" {% if mode != 'fade' and animation %} data-animation-in="zoomInImage" {% endif %}>

            <a class="img-link{% if block.settings.overlay  %} overlay{% endif %}" {% unless block.settings.img_link == blank %} href="{{block.settings.img_link}}" {% endunless %}>

              {%- comment -%}Tablet and Desktop image{%- endcomment -%}
              <div class="xs-hide {{type}}">
                {% if block.settings.image == blank %}
                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                {%-  else -%}
                  {%- render 'srcset',
                    src_name:block.settings.image,
                    src_alt:block.settings.image.alt,
                    load_blur:true
                    -%}
                {% endif %}
              </div>
              <div class="xs-show {{type}}">
                {% if block.settings.image_xs == blank %}
                {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                {%-  else -%}
                  {%- render 'srcset', 
                    src_alt:block.settings.image.alt,
                    src_name:block.settings.image_xs,
                    load_blur:true -%}
                {% endif %}
              </div>
            </a>
            <div class="slide-text {{block.settings.text_alignment }}">
              <div class="text-wrapper">
                {% unless block.settings.slider_header == blank %}
                  <h3 {% if animation %} data-animation-in="slideInUp" {% endif %}>{{block.settings.slider_header}}</h3>
                {% endunless %}
                {% unless block.settings.slider_text == blank %}
                  <p {% if animation %} data-animation-in="slideInUp" data-delay-in="0.2" {% endif %}>{{block.settings.slider_text}}</p>
                {% endunless %}
                {% if block.settings.slider_btn != blank %}
                  <a href="{{block.settings.slider_link}}" class="btn" {% if animation %} data-animation-in="slideInUp" data-delay-in="0.2" {%- endif -%}>{{block.settings.slider_btn}}</a>
                {% endif %}
                {% if block.settings.slider_btn2 != blank %}
                  <a data-fancybox="quick-view" href="{{block.settings.slider_link2}}&amp;autoplay=1&amp;rel=0&amp;" {% if animation %} data-animation-in="slideInUp" data-delay-in="0.2" {%- endif -%} class="btn">{{block.settings.slider_btn2}}</a>
                {% endif %}
              </div>
            </div>
          </div>

        </div>
      {% endfor %}
    </div>
    {%- if section.settings.navigation -%}
      <button class="slick-next" type="button">
        {%- render 'icons',icon:'arrow-right' -%}
      </button>
      <button class="slick-prev" type="button">
        {%- render 'icons',icon:'arrow-left' -%}
      </button>
    {%- endif  -%}
  </div>

</div>

{% schema %}
{
  "name": "Slideshow",
  "max_blocks": 6,
  "settings": [
    {
      "type": "checkbox",
      "label": "Full-width",
      "id": "full",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "adaptive_height",
      "label": "Auto height",
      "default": false,
      "info": "Use when the size of the images are different"
    },
    {
      "type": "checkbox",
      "id": "animation",
      "label": "Animation",
      "default": false
    },
    {
      "type": "range",
      "id": "speed",
      "label": "Slide Speed",
      "unit": "sec",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5
    },
    {
      "type": "select",
      "id": "type",
      "label": "Slider type",
      "options": [
        {
          "value": "normal",
          "label": "Original image size"
        },
        {
          "value": "responsive",
          "label": "Responsive image size"
        }
      ]
    },
    {
      "type": "select",
      "id": "mode",
      "label": "Slide mode",
      "options": [
        {
          "label": "Slide",
          "value": "slide"
        },
        {
          "label": "Fade",
          "value": "fade"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_xs",
          "label": "Image mobile"
        },
        {
          "type": "url",
          "id": "img_link",
          "label": "Image URL"
        },
        {
          "type": "checkbox",
          "id": "overlay",
          "label": "Image overlay",
          "default": false
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay color",
          "default": "#000000",
          "info": "Enable overlay first"
        },
        {
          "type": "select",
          "label": "Text alignment",
          "id": "text_alignment",
          "options": [
            {
              "label": "Left",
              "value": "text-left"
            },
            {
              "label": "Right",
              "value": "text-right"
            },
            {
              "label": "Center",
              "value": "text-center"
            }
          ]
        },
        {
          "type": "text",
          "label": "Header text",
          "id": "slider_header"
        },
        {
          "type": "textarea",
          "label": "Sub-header text",
          "id": "slider_text"
        },
        {
          "type": "color",
          "id": "slider_header_color",
          "default": "#000",
          "label": "Header text color"
        },
        {
          "type": "color",
          "id": "slider_text_color",
          "default": "#000",
          "label": "Paragraph text color"
        },
        {
          "type": "range",
          "id": "slider_header_size",
          "label": "Header text size",
          "unit": "px",
          "min": 14,
          "max": 50,
          "step": 2,
          "default": 38
        },
        {
          "type": "range",
          "id": "slider_text_size",
          "label": "Paragraph text size",
          "unit": "px",
          "min": 12,
          "max": 42,
          "step": 2,
          "default": 24
        },
        {
          "type": "text",
          "label": "Button name",
          "id": "slider_btn"
        },
        {
          "type": "url",
          "label": "Button URL",
          "id": "slider_link"
        },
        {
          "type": "text",
          "label": "Button name",
          "id": "slider_btn2",
          "info": "For video"
        },
        {
          "type": "video_url",
          "label": "Button URL",
          "id": "slider_link2",
          "accept": [
            "youtube",
            "vimeo"
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero Slider",
      "category": "Image",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}