<!-- topbar -->
{%- assign show_topbar = false -%}
{% if section.settings.enable and section.blocks.size > 0 %}
  {%- assign show_topbar = true -%}
  {%- if section.settings.show_on_hp and template != 'index' -%}
  {%- assign show_topbar = false -%}
  {%- endif -%}
{%- endif -%}
{%- if show_topbar -%}
  <div class="topbar{% if section.blocks.size > 1 %} slide{% endif %}" data-speed="{{section.settings.speed}}">
    {% for block in section.blocks %}
      <div class="announcement loop-{{forloop.index}}">
        <div class="xs-hide">
          {{block.settings.text}}
        </div>
        <div class="xs-show">
          {% if  block.settings.text_xs == blank %}
            {{block.settings.text}}
          {% else %}
            {{block.settings.text_xs}}
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

{% schema %}

{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable"
    }, {
      "type": "checkbox",
      "id": "show_on_hp",
      "label": "Show only on Home page?"
    }, {
      "type": "range",
      "id": "speed",
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "sec",
      "label": "Speed",
      "default": 3
    }
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "richtext",
          "label": "Text",
          "id": "text"
        }, {
          "type": "richtext",
          "label": "Text for mobile",
          "id": "text_xs"
        }
      ]
    }
  ]
}

{% endschema %} 