{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
  <nav aria-label="breadcrumbs" class="breadcrumb" role="navigation">
    <a href="/" title="Home">Home</a>
    {% if template contains 'page' %}
      <span aria-hidden="true">&rsaquo;</span>
      <span>{{ page.title }}</span>
    {% elsif template contains 'product' %}
      {% if collection.url %}
        <span aria-hidden="true">&rsaquo;</span>
        {{ collection.title | link_to: collection.url }}
      {% endif %}
      <span aria-hidden="true">&rsaquo;</span>
      <span>{{ product.title }}</span>
    {% elsif template contains 'collection' and collection.handle %}
      <span aria-hidden="true">&rsaquo;</span>
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}
        {% endcapture %}
        {{ collection.title | link_to: url }}
        <span aria-hidden="true">&rsaquo;</span>
        {% assign Btags = current_tags %}
        {% for link in linklists['filter'].links %}
          {% assign temp = link.title | append :'_'%}
          {% assign Btags = Btags | join: " + " | remove: temp %}
        {% endfor %}
        <span>
          {{ Btags | join: " + " | remove: temp }}
        </span>
      {% else %}
        <span>{{ collection.title }}</span>
      {% endif %}
    {% elsif template == 'blog' %}
      <span aria-hidden="true">&rsaquo;</span>
      {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true">&rsaquo;</span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
        <span>{{ blog.title }}</span>
      {% endif %}
    {% elsif template == 'article' %}
      <span aria-hidden="true">&rsaquo;</span>
      {{ blog.title | link_to: blog.url }}
    {% else %}
      <span aria-hidden="true">&rsaquo;</span>
      <span>{{ page_title }}</span>
    {% endif %}
  </nav>
{% endunless %}