<div class="child-menu{% if mega %} mega{% else %} no-mega{% endif %}">
  <div class="relative">
    <ul class="child-ul">
      {% for childlink in link.links %}
        {% if childlink.links == blank %}
          {% assign third_tire = false %}
        {% else %}
          {% assign third_tire = true %}
        {% endif %}
        <li class="{% if third_tire %}has_child {% endif %}child-li">
          <a class="{% if forloop.index == 1 and mega %}active{% endif %}" {% unless childlink.url == blank %} href="{{ childlink.url }}{% endunless %}">{{ childlink.title | escape }}</a>
          {% if mega or third_tire %}
            <div class="link-data{% if mega %}{% unless forloop.index == 1 %} hide{% endunless %}{%else%} hide{% endif %}">
              {% if third_tire %}
                <ul class="third-menu">
                  {% for subchildlink in childlink.links %}
                    <li>
                      <a href="{{ subchildlink.url }}">{{ subchildlink.title | escape }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if mega %}
                <div class="img">
                  <div class="bg" style="background:url({{childlink.object.image | img_url : 'large'}}) no-repeat;background-size:cover;"></div>
                </div>
              {% endif %}
            </div>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>