<!-- collection-filter -->
<div class="advance_filter">
  <h4 class="filter_title">Filters 
  {% if filter and side_filter %}
    <span class="close">
      &times;
    </span>
    {% endif %}
  </h4>
  {% comment %}
A recursive loop to catch and filter out the different tag categories.
This is mainly for advanced tagging, but will also help us strip
out any tag categories from our tags (E.g. remove BRAND_ from BRAND_tag)
{% endcomment %}
{% if collection.all_tags.size > 0 %}
  {% if collection.handle == 'all' %}
   {% assign clear_all = '/collections/all' %}
    {% else %}
    {% assign clear_all = collection.url %}
    {% endif %}
  <div class="clear_all">
    <a href="{{clear_all}}">
      Clear all &times;
    </a>
  </div>
<div class="row">

  {% for cat_item in linklists[section.settings.filter_menu].links %}
  {% unless cat_item.title == '' %}
  {% if cat_item == 'Colour' or cat_item.title == 'Color'  %}
    {% assign class = 'color_filter' %}
    {% else %}
    {% assign class = '' %}
    {% endif %}
    {% unless cat_item.title == 'Color' or cat_item.title == 'Colour' %}
    {% assign class = 'normal_filter' %}
    {% endunless %}
  {% capture filter_item  %}
   {% for custom_tag in collection.tags %}
      {% if custom_tag contains cat_item.title %}
      {% assign link_name =    custom_tag | remove_first: cat_item.title | remove: '_'   %}
      {% assign link_name = link_name | handleize | append : '.png' %}
      {% if current_tags contains custom_tag %}
      <li {% if cat_item.title == 'Color' or cat_item.title == 'Colour' %}style="background:url({{link_name | asset_url}}) no-repeat;background-size:cover;"{% endif %} class="advanced-filter active-filter" data-group="{{ cat_item.title }}" data-handle="{{ custom_tag | handleize }}">{{ custom_tag | remove_first: cat_item.title | remove: '_' | link_to_remove_tag: custom_tag }}</li>
      {% else %}
      <li {% if cat_item.title == 'Color' or cat_item.title == 'Colour' %}style="background:url({{link_name | asset_url}}) no-repeat;background-size:cover;"{% endif %} class="advanced-filter" data-group="{{ cat_item.title }}">{{ custom_tag | remove_first: cat_item.title | remove: '_' | link_to_add_tag: custom_tag }}</li>
      {% endif %}
      {% endif %}
      {% endfor %}
  {% endcapture %}
  {% if filter_item contains '<li' %}
  <div class="col-sm-12 widget-wrapper">
    <h5 class="toggle">Filter By : {{ cat_item.title }}</h5>
    
    <ul class="advanced-filters {{class}}">
     {{filter_item}}
    </ul>
  </div>
  {% endif %}
  {% endunless %}
  {% endfor %}
</div>
{% endif %}

<!-- CSs -->

</div>  