<div class="row">
  <div class="col-md-3 col-xs-6">
    <h4 class="title">
      <span>
        {{linklists[section.settings.nav_1].title }}
      </span>
    </h4>
    <ul class="nav nav-1">
      {% for link in linklists[section.settings.nav_1].links %}
        <li>
          <a href="{{link.url}}">
            {{link.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-3 col-xs-6">
    <h4 class="title">
      <span>{{linklists[section.settings.nav_2].title }}</span>
    </h4>
    <ul class="nav nav-2">
      {% for link in linklists[section.settings.nav_2].links %}
        <li>
          <a href="{{link.url}}">
            {{link.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h4 class="title">
      <span>{{linklists[section.settings.nav_3].title }}</span>
    </h4>
    <ul class="nav nav-3">
      {% for link in linklists[section.settings.nav_3].links %}
        <li>
          <a href="{{link.url}}">
            {{link.title}}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h4 class="title">
      <span>Connect</span>
    </h4>
    {% render 'news-letter' %}
  </div>
</div>