<script>
  window.simply = window.simply || {};
  window.cn = function (o) { return "undefined" == typeof o || null == o || "" == o.toString().trim() };
  window.cb = function (o) { if (o == 'true') { return true } else { return false } };
  simply.money_format = "{{ shop.money_format }}";
  simply.translations = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
  soldOut: {{ 'products.product.sold_out' | t | json }},
  unavailable: {{ 'products.product.unavailable' | t | json }}
    };
    
</script>
{% render 'seo-manager' %}
{% render 'microdata-schema' %}
<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<meta content="true" name="HandheldFriendly"/>
<link rel="canonical" href="{{ canonical_url }}">
{% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
{% endif %}
{% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
    {%- assign meta_tags = current_tags | join: ', ' %}
    &ndash;
    {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
    &ndash;
    {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
    &ndash;
    {{ shop.name }}
  {% endunless %}
{% endcapture %}
<title>{{ seo_title }}</title>
{% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
{% endif %}
{% render 'social-meta-tags' %}
{% render 'main-css' %}
<noscript><link rel="stylesheet" href="{{ 'theme.css' | asset_url }}"></noscript>
<script>
/*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
!function(a){"use strict";var b=function(b,c,d){function e(a){return h.body?a():void setTimeout(function(){e(a)})}function f(){i.addEventListener&&i.removeEventListener("load",f);if(!Shopify.designMode)i.media=d||"all"}var g,h=a.document,i=h.createElement("link");if(c)g=c;else{var j=(h.body||h.getElementsByTagName("head")[0]).childNodes;g=j[j.length-1]}var k=h.styleSheets;i.rel="stylesheet",i.href=b,i.media=Shopify.designMode?d||"all":"only x",e(function(){g.parentNode.insertBefore(i,c?g:g.nextSibling)});var l=function(a){for(var b=i.href,c=k.length;c--;)if(k[c].href===b)return a();setTimeout(function(){l(a)})};return i.addEventListener&&i.addEventListener("load",f),i.onloadcssdefined=l,l(f),i};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
/*! onloadCSS. (onload callback for loadCSS) [c]2017 Filament Group, Inc. MIT License */
function onloadCSS(a,b){function c(){!d&&b&&(d=!0,b.call(a))}var d;a.addEventListener&&a.addEventListener("load",c),a.attachEvent&&a.attachEvent("onload",c),"isApplicationInstalled"in navigator&&"onloadcssdefined"in a&&a.onloadcssdefined(c)}

// Insert our stylesheet before our preload <link> tag

var preload = document.querySelector('link[href="{{ 'theme.css' | asset_url }}"]');
var stylesheet = loadCSS('{{ 'theme.css' | asset_url }}', preload);
// Create a property to easily detect if the stylesheet is done loading
onloadCSS(stylesheet, function() { stylesheet.loaded = true;
  document.querySelector("body").classList.remove("theme-unload");
  try{
    document.querySelector(".first-load").remove();
  }
  catch(e){
    document.addEventListener('DOMContentLoaded', function() {
      document.querySelector(".first-load").remove();
    }, false);
  }
});
</script>