<!-- large-header -->
<div class="{{container}}">
  <div class="flex-view stretch">
    <div class="logo-side side">
      <div class="site-logo">
        <a href="/" itemprop="url">
          {% if section.settings.site_logo != blank %}
            <img itemprop="logo" src="{{section.settings.site_logo | img_url: 'large' | format: 'png'}}" alt="{{shop.name}}">
          {% else %}
            <h6>{{shop.name}}</h6>
          {% endif %}
        </a>
      </div>
    </div>
    <div class="menu-side side">
      <nav class="main-menu text-center">
        {% render 'site-nav' %}
      </nav>
    </div>
    <div class="icon-side side">
      <ul class="flex-view middle right">
        {%- if settings.show_multiple_currencies -%}
          <li>
            {%- render 'multi-currency' -%}
          </li>
        {%- endif -%}
        <li class='icon-li'>
          <div class="search-button">
            <a>
              {% render 'icons',icon:'search',width:28,height:28 %}
            </a>
          </div>
        </li>
        {% if shop.customer_accounts_enabled %}
          <li class='icon-li'>
            <div class="accounts">
              <a href="/account">
                {% render 'icons',icon:'account',width:28,height:28 %}
              </a>
            </div>
          </li>
        {% endif %}
        <li class='icon-li'>
          <a title="Cart" {% if side_cart %} class="side-cart cart" {% else %} class="cart{% if template contains 'cart' %} active{% endif %}" href="/cart" {% endif %}>
            {% render 'icons', icon:'cart',width:28,height:28 %}
            <span class="count">{{cart.item_count}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>