<!-- mega-menu -->
{%- if block.settings.mega_image -%}
  {%- assign mega_img = block.settings.mega_image | img_url:'grande' -%}
{%- endif -%}
<div class="child-menu mega-menu{% if block.settings.mega_full %} full-mega{% endif %}">
  <div class="flex-view stretch">
    <div class="flex-view top{% if mega_img != blank %} left-side{% else %} full-width{% endif %}">
      {%- for link in parent_link.links -%}
        <div class="single-list
                          {%- if  parent_link.links.size < 5 %} flex-one{% else %} divide-four{%- endif -%}">
          <a class="head" href='{{link.url}}'>
            {{link.title}}
          </a>
          <ul class="menu-ul">
            {%- for sublink in link.links -%}
              <li>
                <a href='{{sublink.url}}'>{{sublink.title}}</a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endfor -%}
    </div>
    {%- if mega_img != blank -%}
      <a class="image-block right-side"
      href='{{block.settings.mega_image_url}}'
       style="background: url('{{mega_img}}');
       background-size: cover;
      background-position: {{block.settings.x_pos}}% {{block.settings.y_pos}}%;
      "></a>
    {%- endif -%}
  </div>
</div>