<!-- mobile-menu -->
<div id="mobile-drawer">
  <div class="menu-header">
    {%- if shop.customer_accounts_enabled -%}
      <a class="account-icon" href='/account'>
        {%- render 'icons':icon:'account' -%}
      </a>
    {%- endif -%}
    <div class="welcome-wrap">
      <span class="welcome">WELCOME!</span>
      {%- if shop.customer_accounts_enabled -%}
        {%- if customer -%}
          <span class="account-link" href="/account">
            <a class='/account'>Hi {{customer.first_name}}</a>
            <a href='/account/logout' class='account-logout'><small>( Logout )</small></a>
          </span>
        {%- else -%}
          <a class="account-link" href="/account">
            Login / Sign up
          </a>
        {%- endif -%}
      {%- endif -%}

    </div>
    <span class="drawer-close">
      &times;
    </span>
  </div>
  <ul class="ul nav clearfix">
    {% for link in linklists[section.settings.main_menu].links  %}
      {% if link.links == blank %}
        <li class="li{% if link.active %} active{% endif %}">
          <div class="link">
            <a href="{{link.url}}">
              {{link.title}}
            </a>
          </div>
        </li>
      {% else %}
        <li class="has_child li{% if link.active %} active{% endif %}">
          <div class="link">
            <a {% unless link.url == blank %} href="{{link.url}}{% endunless %}">
              {{link.title}}
            </a>
            <span class="icon-wrap">
              <span>{%- render 'icons',icon:'arrow-down',width:20,height:15 -%}</span>
              <span class="hide">{%- render 'icons',icon:'arrow-up',width:20,height:15 -%}</span>
            </span>
          </div>

          <div class="child-menu">
            <ul class="child-ul">
              {% for childlink in link.links %}
                {% if childlink.links != blank %}
                  <li class="has_child child-li">
                    <div class="link">
                      <a {% unless childlink.url == blank %} href="{{ childlink.url }}{% endunless %}">{{ childlink.title | escape }}</a>
                      <span class="icon-wrap">
                        <span>+</span>
                        <span class="hide">-</span>
                      </span>
                    </div>
                    <ul class="child-menu third-menu">
                      {% for subchildlink in childlink.links %}
                        <li>
                          <div class="link">
                            <a href="{{ subchildlink.url }}">{{ subchildlink.title | escape }}</a>
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="child-li">
                    <div class="link">
                      <a {% unless childlink.url == blank %} href="{{ childlink.url }}{% endunless %}">{{ childlink.title | escape }}</a>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>