<div class="multi-currency">
  {% form 'currency' %}
    <select name="currency">
      {% for currency in shop.enabled_currencies %}
        {% if currency == cart.currency %}
          <option selected="true" value="{{currency.iso_code}}">{{currency.iso_code}} {{ currency.symbol }}</option>
        {% else %}
          <option value="{{currency.iso_code}}">{{currency.iso_code}} {{ currency.symbol }}</option>
        {% endif %}
      {% endfor %}
    </select>
  {% endform %}
</div>