<div class="normal_form">
  {% form 'customer' %}
    <div class="form-vertical">
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
      {% else %}
        <div class="field">
          <label for="mail">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
          <input type="email" placeholder="Email Address" required value="{% if customer %}{{ customer.email }}{% endif %}" id="mail" name="contact[email]" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
        </div>
        <input name="contact[tags]" type="hidden" value="newsletter">
        <span class="input-group-btn">
          <input type="submit" class="btn" name="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
        </span>
      {% endif %}
    </div>
  {% endform %}
</div>