{%- if settings.welcome_popup_image != blank  -%}
  {% assign image = true %}
{%- endif -%}

{% assign expire =  settings.welcome_popup_expire %}
{% assign test_mode =  settings.welcome_popup_test %}
{% assign time_out =  settings.welcome_popup_timeout %}
{% if expire == 0 %}
  {% assign expire = 7 %}
{% endif %}

<div id="welcome-popup" data-day="{{expire}}" data-time="{{time_out}}" {% if test_mode %}data-test-mode="true"{% endif %}>
  <div class="flex-view stretch">
    {% if image %}
      <div class="col-1 xs-hide">
        <div class="img">
          {%- render 'srcset',src_name:settings.welcome_popup_image,src_alt:settings.welcome_popup_image.alt -%}
        </div>
      </div>
    {% endif %}
    <div class="{% if image %}col-2{% endif %}">
      <div class="content">
        <h3 class="title xs-center">
          {{settings.welcome_popup_header}}
        </h3>
        <p class="text">
          {{settings.welcome_popup_text}}
        </p>
        <div class="form xs-center">
          {% render 'news-letter' %}
        </div>
      </div>
    </div>
  </div>
</div>