<div class="no_block">
  <p class="text-center">
    {% if msg == blank %}
    This section doesn’t currently include any content.
    Add content to this section using the sidebar.
    {% else %}
    {{msg}}
    {% endif %}
  </p>
</div>
