<!-- /snippets/pagination.liquid -->
{% capture previous_label %}
  <span class="icon-fallback-text">
    {%- render 'icons',icon:'arrow-left',width:15,height:15 -%}
  </span>
{% endcapture %}
{% capture next_label %}
  <span class="icon-fallback-text">
    {%- render 'icons',icon:'arrow-right',width:15,height:15 -%}
  </span>
{% endcapture %}
<div class="pagination">
  {{ paginate | default_pagination: previous: previous_label, next: next_label }}
</div>