{% assign zoom = section.settings.zoom  %}
{% if section.settings.ad_height %}
  {% assign ad_height = true %}
{% endif %}

<div class="ProductImages">
  <ul class="list" {% if ad_height %} data-height="true" {% endif %}>
    {% for image in product.images %}
      <li class="id_{{image.id}} single-image" data-index="{{forloop.index}}">
        <div class="{% if zoom %}zoom {% endif %}img">
          {%- render 'srcset',src_name:image.src,src_alt:image.alt,src_class:'product-image' -%}
        </div>
      </li>
    {% endfor %}
  </ul>

  <div class="thumb-block">
    {%- if product.images.size > 1 -%}
      <div class="thumb">
        {% for image in product.images %}
          <div class="single-thumb">
            {%- render 'srcset',src_name:image.src,src_alt:image.alt,src_class:'product-image' -%}
          </div>
        {% endfor %}
      </div>
    {%- endif -%}
  </div>
</div>