<!-- product-form -->
{% if settings.ajax_cart or settings.side_cart %}
  {% assign class_form = 'ajaxCart' %}
{% else %}
  {% assign class_form = 'noAjaxCart'%}
{% endif %}

{%- if quickview -%}
  {%- assign product_swatch = settings.quick_view_product_swatch -%}
  {%- assign dynamic_checkout = settings.quick_view_dynamic_checkout -%}
{%- else -%}
  {%- assign product_swatch = section.settings.product_swatch -%}
  {%- assign dynamic_checkout = section.settings.enable_payment_button -%}
{%- endif -%}

<div class="product-form-wrap">
  {% form 'product', product, method:'post', enctype:'multipart/form-data', id:'AddToCartForm',class:class_form %}

    {% if product_swatch %}
      {% unless product.variants[0].title == 'Default Title' %}
        {% for option in product.options %}
          {% assign swatch = option %}
          {% render 'swatch',swatch:swatch %}
        {% endfor %}
      {% endunless %}
    {% endif %}
    <div class="product-form">
      <div class="option-box{% if product_swatch %} hide{% endif %}">
        {% for option in product.options_with_values %}
          <div class="radio-wrapper">
            <label class="{% if option.name == 'Default' or option.name == 'Title' %} hidden-label{% endif %}" for="ProductSelect-option-{{ forloop.index0 }}">
              {{ option.name | escape }}
            </label>
            <select class="single-option-selector single-option-selector-{{ section.id }}" data-index="option{{ forloop.index }}" id="SingleOptionSelector-{{ forloop.index0 }}">
              {% for value in option.values %}
                <option value="{{ value | escape }}" {% if option.selected_value == value %} selected="selected" {% endif %}>{{ value | escape }}</option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      </div>
      <select name="id" data-productid="{{product.id}}" class="single-variants">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}
              -
              {{ variant.price | money_with_currency }}</option>
          {% else %}
            <option {% unless hide_sold %} disabled="disabled" {% endunless %}>
              {{ variant.title }}
              -
              {{ 'products.product.sold_out' | t }}
            </option>
          {% endif %}
        {% endfor %}
      </select>
      <div class="qty">
        <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
        <div class="spinner">
          <span class="min">-</span>
          <input class="js-quantity-selector" id="Quantity" min="1" name="quantity" type="number" value="1">
          <span class="plus">+</span>
        </div>
      </div>
    </div>
    {% if product.available %}
      <button class="btn AddToCart" name="add" type="submit">
        <span data-text="{{ 'products.product.add_to_cart' | t }}" data-process="Adding..." class="AddToCartText">
          {{ 'products.product.add_to_cart' | t }}
        </span>
      </button>
      {{ form | payment_button }}
    {% else %}
      <button class="btn AddToCart disabled" disabled name="add" type="button">
        <span data-text="{{ 'products.product.sold_out' | t }}" class="AddToCartText" data-process="Adding...">
          {{ 'products.product.sold_out' | t }}
        </span>
      </button>
    {% endif %}
  {%- endform -%}
</div>