<!-- product-details -->
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign sale = true %}
{% endif %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <link href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}" itemprop="availability">
  <h1 class="product-title" itemprop="name">
    {{product.title}}
  </h1>
  {% if sale %}
    <h2 class="product-price">
      <span class="orignal ProductPrice" itemprop="price" content="{{ product.first_available_variant.price | divided_by: 100.00 }}">
        {{product.first_available_variant.price | money}}
      </span>
      <span class="compare ComparePrice">
        {{ product.first_available_variant.compare_at_price | money }}
      </span>
    </h2>
  {% else %}
    <h2 class="ProductPrice" content="{{ current_variant.price | divided_by: 100.00 }}" itemprop="price">
      {{product.first_available_variant.price | money_without_trailing_zeros}}
    </h2>
  {% endif %}
  <h5 class="product-sku" itemprop="sku">SKU:
    {{product.first_available_variant.sku}}</h5>
</div>
{% if section.settings.description == 'top' %}
  <div class="product-description" itemprop="description">
    {{ product.description}}
  </div>
{% endif %}
{% render 'product-form'  %}
{% if section.settings.description == 'bottom' %}
  <div class="product-description" itemprop="description">
    {{ product.description}}
  </div>
{% endif %}
{% if section.settings.social %}
  {% render 'social-share' %}
{% endif %}