<div id="quick-add-result">
  <h3>Product added to the cart</h3>
  <div class="buttons">
    <a class="btn" href="/cart">See Cart</a>
    <a class="btn continue" href="#" onclick="$.fancybox.close(); return false;">Continue Shopping</a>
    <a class="btn" href="/checkout">Checkout</a>
  </div>
</div>
<div id="fancy-msg">
</div>