<div class="search-form{% unless current_page == 'search-page' %} quick-search{% endunless %}">
  <form action="/search" class="search">
    <input type="text" autocomplete="off" placeholder="I'm looking for..." class="input-box" name="q" value="{{ search.terms | escape }}"/>
    <button class="submit" type="submit">
      {% render 'icons',icon:'search',width:22,height:22 %}
    </button>
    <span class="close-form">
      {% render 'icons',icon:'close',width:16,height:16 %}
    </span>
  </form>
  {% unless current_page == 'search-page' %}
    <div class="search-result">
      <div class="search-loading">
        {%- for  i in (1..3)-%}
          <li class="flex-view-xs top">
            <div class="col-xs-6 col-sm-3">
              <div class="img"></div>
            </div>
            <div class="col-xs-6 col-sm-9 line-wrap">
              <div class="line img"></div>
              <div class="line img"></div>
              <div class="line img"></div>
              <div class="line img"></div>
            </div>
          </li>
        {%- endfor -%}
      </div>
      <div class="msg"></div>
      <div class="search-data"></div>
    </div>
  {% endunless %}
</div>