{% unless section.settings.title == blank and section.settings.description == blank %}
<!-- section-header -->
<div class="section-header">
  {%- unless section.settings.title == blank -%}
    <h3 class='section-title'>{{section.settings.title}}</h3>
  {%- endunless -%}

  {%- unless section.settings.description == blank -%}
    <div class="section-description">{{section.settings.description}}</div>
  {%- endunless -%}
  <span class="bottom-line"></span>
</div>
{%- endunless -%}