<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name" : "{{shop.name}}",
    "url": "{{shop.url}}",
    "logo": "https:{{settings.seo_logo | img_url:'grande'}}",
    "image": "https:{{settings.seo_logo | img_url:'grande'}}",
    "description": "{{page_description}}",
    "telephone": "{{settings.seo_number}}",
    "priceRange":"{{settings.seo_priceRange}}",
    "address": {
    "@type": "PostalAddress",
    "addressLocality": "{{settings.seo_addressLocality}}",
    "addressRegion": "{{settings.seo_addressRegion}}",
    "streetAddress": "{{settings.seo_streetAddress}}",
    "postalCode": "{{settings.seo_postalCode}}"
  },
  "openingHours": [
  "{{settings.seo_openingHours}}"
  ]
}
</script>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "WebSite",
    "url": "{{shop.url}}",
    "potentialAction": {
    "@type": "SearchAction",
    "target": "{{shop.url}}/search?q={query}",
    "query-input": "required name=query"
  }
}
</script>