<div id="side-cart" class="Fixed">
  <div class="cart_min">
    <h3>
      <a href="/cart">Your cart</a>
      <p class="close">
        &times;
      </p>
    </h3>
    <form class="mini_cart">
      <div class="cart_data">
        <div class="no_data hide">
          Please Add Product First
        </div>
        {% for item in cart.items %}
        <div class="items">
          <div class="row">
            <div class="col-xs-8">
              <div class="row">
                <div class="col-xs-4">
                  <div class="image cart_item">
                    <a href="{{ item.url | within: collections.all }}" class="cart__image">
                      {%- assign src_name = item -%}
                      {%- assign src_alt = item.product.title -%}
                      {%- include 'srcset' -%}
                    </a>
                  </div>
                </div>
                <div class="col-xs-8">
                  <div class="name cart_item ">
                    <a href="{{ item.url }}">
                      {{ item.product.title }}
                    </a>
                  </div>
                  <div class="qty cart_item">
                    <label for="updates_{{ item.key }}" class="visually-hidden">{{ 'cart.label.quantity' | t }}</label>
                    <div class="spinner">
                      <div class="min">-</div>
                      <input type="number" name="updates[]" 
                      id="updates_{{ item.key }}" 
                      class="product_qty" value="{{ item.quantity }}"
                      min="0" data-id="{{ item.key }}">
                      <div class="plus">+</div>
                    </div>

                  </div>
                  <p class="remove">
                    <a>
                      {{ 'cart.general.remove' | t }}
                    </a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="total_price text-right cart_item">
                <span class="h5">
                  {% if item.original_line_price != item.line_price %}
                  <small class="original-price"><s>{{ item.original_line_price | money }}</s></small>
                  {% endif %}
                  {{ item.line_price | money }}
                  <br>
                  {% for discount in item.discounts %}
                  <small class="discount">{{ discount.title }}</small>
                  {% endfor %}
                </span>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="footer">
        <div class="data">
          <div class="row">
            <div class="col-xs-6">
              <p class="cart__subtotal">{{ 'cart.general.subtotal' | t }}</p>
            </div>
            <div class="col-xs-6">
              <p class="cart__subtotal text-right">{{ cart.total_price | money }}</p>
            </div>
          </div>
          <p><small>Shipping, taxes, and discounts calculated at checkout</small></p>
          <div class='xs-hide'>
            <a href='/checkout'  class="btn full">
              {{ 'cart.general.checkout' | t }}
            </a>
          </div>
          <div class='xs-show'>
            <div class='flex-view-xs bottom_btns'>
              <div class='col-xs-4'>
                <a class='btn close second'>
                  Close
                </a>
              </div>
              <div class='col-xs-8'>
                <a class='btn' href='/checkout'>
                  Checkout
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="count hide">
    {{ cart.item_count }}
  </div>
</div>