{% assign sizes = '480,765,900,1000,1100,1300,1500,1700' | split: "," %}
{% if divided == blank or divied == 0 %}
{% assign divided = 1 %}
{% endif %}
{% if blog_img_size == blank %}
{% assign blog_img_size = '1024x1024' %}
{% endif %}
<article class="article">
  <div class="article_image img">
    <a class="article_link" href="{{ article.url }}">
      {% if article.image %}
      {%- assign src_name = article -%}
      {% else %}
      {%- assign src_name = section.settings.default_img -%}
      {% endif %}
      {%- assign src_alt = article.title -%}
      {%- assign src_class = 'article_img' -%}
      {%- include 'srcset' -%}
    </a>
  </div>
  <div class="article_detail">
    <h4 class="title"><a href="{{ article.url }}">{{ article.title }}</a></h4>
    <div class="time">
      <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}" class="date">{{ article.published_at | date: format: 'month_day_year' }}</time>
    </div>
    {% if section.settings.excerpt %}
    <div class="excerpt">
      {% if article.excerpt == blank %}
      {{ article_content | strip_html | truncatewords: 120 }}
      {% else %}
      {{article.excerpt}}
      {% endif %}
    </div>

    <a href="{{ article.url }}" class="read_more">
      {{ 'blogs.article.read_more' | t }} 
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
    {% endif %}
    {% if article.tags.size > 0 %}
    {% include 'article-tag' %}
    {% endif %}
  </div>
</article>