{%- comment -%}Quick View{%- endcomment -%}
{%- unless product == blank -%}
  {% if settings.quick_view  %}
    {% assign quick_view = true %}
  {% endif %}
  {%- comment -%}Sale{%- endcomment -%}
  {% assign sale = false %}
  {% if product.compare_at_price > product.price %}
    {% assign sale = true %}
  {% endif %}
  {%- comment -%}Sold out{%- endcomment -%}
  {% unless product.available %}
    {% assign sold_out = true %}
  {% endunless %}
  {%- comment -%}Image swtich{%- endcomment -%}
  {% assign switch_img = settings.switch_image %}
{%- endunless -%}

<div class="product-main{% if sold_out %} sold-out{% endif %} detail-{{product.id}}">
  <div class="{% unless no_height_alignment == true %}image{% endunless %}">
    <div class="relative {% unless no_height_alignment == true %} img-cell{% endunless %}">
      {% if quick_view %}
        <a class="quick-view" data-product="{{product.handle}}" {%- unless collection == blank -%} data-collection="{{collection.handle}}{%- endunless -%}">
          Quick view
        </a>
      {% endif %}
      <div class="img">
        <a class="product-link" href="{{ product.url | within: collection }}">
          {%- if product == blank -%}
            {{ 'product-'| append:i | placeholder_svg_tag }}
          {%- else -%}
            {%- assign src_name = product.featured_image.src -%}
            {%- assign src_alt = product.featured_image.src | escape  -%}
            {%- assign src_class= 'product-img' -%}
            {%- render 'srcset' src_name:src_name,src_alt:src_alt,src_class:src_class -%}
          {%- endif -%}
          {%- if switch_img and product.images[1].src != blank -%}
            {%- unless sold_out -%}
              {%- assign src_name = product.images[1].src -%}
              {%- assign src_alt = product.images[1].alt | escape  -%}
              <img src='{{src_name | img_url:'grande'}}' alt='{{src_alt}}' class="img_blur alter_img">
            {%-  endunless -%}
          {%- endif -%}
        </a>
      </div>
      {% if sold_out %}
        {% if settings.sold_out_banner %}
          <div class="sold-out">
            <span>Soldout</span>
          </div>
        {% endif %}
      {% elsif sale %}
        {% if settings.on_sale_banner %}
          <div class="on-sale">
            <span>Sale</span>
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
  {% unless no_text == true %}
    <div class="text">
      <div class="text-wrapper">
        <a href="{{ product.url | within: collection }}" class="product-link">
          <span class="product-title">
            {%- if product == blank -%}
              Product Title
            {%- else -%}
              {{ product.title }}
            {%- endif  -%}
          </span>
        </a>
        <span class="product-price">
          {%- if product == blank -%}
            {{5000 | money }}
          {%- else -%}
            {{ product.price | money }}
            {% if settings.compare_price %}
              {% if sale %}
                <span class="compare">
                  {{ product.compare_at_price | money }}
                </span>
              {% endif %}
            {% endif %}
          {%- endif -%}
        </span>
        {% if settings.vendor %}
          <span class="brand">{{ product.vendor }}</span><br/>
        {% endif %}
      </div>
    </div>
  {% endunless %}
</div>