<!-- small-header -->
<div class="container-fluid">
  <div class="flex-view-xs middle space">
    <div class="col-xs-4">
      <a class="mobile-menu-btn">
        {%- render 'icons',icon:'mobile-menu',width:20,height:20 -%}
      </a>
    </div>
    <div class="col-xs-4">
      <div class="site-logo text-center">
        <div class="inline-block">
          <a href="/">
            {% if section.settings.site_logo != blank %}
              <img src="{{section.settings.site_logo | img_url: 'large' | format: 'png'}}" alt="{{shop.name}}">
            {% else %}
              <h6>{{shop.name}}</h6>
            {% endif %}
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="text-right mobile-right">
        <a class="mobile-search">
          {%- render 'icons',icon:'search',width:20,height:20 -%}
        </a>
        <a class="side-cart cart">
          {%- render 'icons',icon:'cart',width:25,height:20 -%}
          <span class="count">{{cart.item_count}}</span>
        </a>
      </div>
    </div>
  </div>
</div>