<ul class='social_links' itemscope itemtype="http://schema.org/Organization">
  <link itemprop="url" href="{{shop.url}}">
  {% if settings.twitter_link != blank %}
  <li>
    <a href="{{settings.twitter_link}}" title="Twitter" itemprop="sameAs" class="twitter" target="_blank">
      {%- render 'icons',icon:'twitter' -%}
    </a>
  </li>
  {% endif %}
  {% if settings.facebook_link != blank %}
  <li>
    <a href="{{settings.facebook_link}}" itemprop="sameAs" title="Facebook" class="facebook" target="_blank">
      {%- render 'icons',icon:'facebook' -%}
    </a>
  </li>
  {% endif %}
  {% if settings.instagram_link !=blank %}
  <li>
    <a href="{{settings.instagram_link}}" itemprop="sameAs" title="Instagram" class="instagram" target="_blank">
      {%- render 'icons',icon:'instagram' -%}
    </a>
  </li>
  {% endif %}
  {% if settings.youtube_link != blank %}
  <li>
    <a href="{{settings.youtube_link}}" itemprop="sameAs" title="Youtube" class='youtube' target="_blank">
      {%- render 'icons',icon:'youtube' -%}
    </a>
  </li>
  {% endif %}
  {% if settings.pinterest_link !=blank %}
  <li>
    <a href="{{settings.pinterest_link}}" itemprop="sameAs" title="Pinterest" class='pinterest' target="_blank">
      {%- render 'icons',icon:'pinterest' -%}
    </a>
  </li>
  {% endif %}
</ul>
