<!-- /snippets/social-meta-tags.liquid -->
{% if template == 'index' %}
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page_title }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:description" content="{{ page_description }}">
{% elsif template contains 'product' %}
<meta property="og:type" content="product">
<meta property="og:title" content="{{ product.title | strip_html | escape }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:description" content="{{ product.description | strip_html | escape }}">
{% for image in product.images reversed limit:3 %}
<meta property="og:image" content="http:{{ image.src | img_url: 'grande' }}">
<meta property="og:image:secure_url" content="https:{{ image.src | img_url: 'grande' }}">
{% endfor %}
<meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html | escape }}">
<meta property="og:price:currency" content="{{ shop.currency }}">
{% elsif template contains 'article' %}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ article.title | strip_html | escape }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:description" content="{{ article.excerpt_or_content | strip_html | escape }}">
{% if article.image %}
<meta property="og:image" content="http:{{ article | img_url: '1024x1024' }}">
<meta property="og:image:secure_url" content="https:{{ article | img_url: '1024x1024' }}">
{% endif %}
{% elsif template == 'password' %}
<meta property="og:type" content="website">
<meta property="og:title" content="{{ shop.name | escape }}">
<meta property="og:url" content="{{ shop.url }}">
<meta property="og:description" content="{% unless shop.description == blank %}{{ shop.description | escape }}{% else %}{{ shop.name | escape }}{% endunless %}">
{% if settings.logo_use_image %}
<meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">
<meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">
{% endif %}
{% else %}
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page_title | escape }}">
<meta property="og:url" content="{{ canonical_url }}">
{% if page_description %}
<meta property="og:description" content="{{ page_description | escape }}">
{% endif %}
{% if settings.logo_use_image %}
<meta property="og:image" content="http:{{ 'logo.png' | asset_url }}">
<meta property="og:image:secure_url" content="https:{{ 'logo.png' | asset_url }}">
{% endif %}
{% endif %}
<meta property="og:site_name" content="{{ shop.name }}">

{% comment %}
This snippet renders meta data needed to create a Twitter card.
{% endcomment %}
{% if template contains 'article' and article.image %}
<meta name="twitter:card" content="summary_large_image">
{% elsif template == 'index' and hero_enabled %}
<meta name="twitter:card" content="summary_large_image">
{% else %}
<meta name="twitter:card" content="summary">
{% endif %}
{% unless settings.social_twitter_link == blank %}
<meta name="twitter:site" content="@{{ settings.social_twitter_link | split: 'twitter.com/' | last }}">
{% endunless %}
{% if template == 'index' %}
<meta name="twitter:title" content="{{ page_title }}">
{% if home_page_content_enabled %}
<meta name="twitter:description" content="{{ pages[settings.home_page_content].content | strip_html | truncate: 200, '' | escape }}">
{% else %}
<meta name="twitter:description" content="{{ page_description | escape }}">
{% endif %}
{% elsif template contains 'product' %}
<meta name="twitter:title" content="{{ product.title | strip_html | escape }}">
<meta name="twitter:description" content="{{ product.description | strip_html | truncate: 200, '' | escape }}">
{% elsif template contains 'article' %}
<meta name="twitter:title" content="{{ article.title | strip_html | escape }}">
<meta name="twitter:description" content="{{ article.excerpt_or_content | strip_html | truncate: 200, '' | escape }}">
{% endif %}
