<div class="share_icons">
  <div class="share facebook"><!--Facebook-->
    <a target="_blank" class="facebook"
       title="Share this on Facebook"
       href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}">
       {%- render 'icons',icon:'facebook' -%}
    </a>
  </div>
  <div class="share twitter"><!--Twitter-->
    <a target="_blank" class="twitter" 
       title="Share this on  Twitter" 
       href="https://twitter.com/intent/tweet?text={{ title | truncate: 30 }}&url={{ canonical_url }}">
       {%- render 'icons',icon:'twitter' -%}
    </a>

  </div>
  <div class="share pinterest"><!--Pinterest-->
    <a target="_blank" data-pin-do="skipLink" class="pinterest" 
       title="Share this on  Pinterest" 
       {% if template contains 'article' %}
       href="//pinterest.com/pin/create/button/?url={{ canonical_url }}&description={{ title | truncate: 240 }}&media=https:{{ article.image | img_url: '600x' }}"
       {% else %}
       href="//pinterest.com/pin/create/button/?url={{ canonical_url }}&description={{ title | truncate: 240 }}&media=https:{{ product.featured_image.src | product_img_url: '600x' }}"
      {% endif %}>
      {%- render 'icons',icon:'pinterest' -%}
    </a>
  </div>
  {% unless template contains 'article' %}
  <div class="share mail"><!--Email-->
    <a href="mailto:?subject=Thought you might like&amp;body=Hey, I was browsing {{ shop.name }} and found {{ product.title }}. I wanted to share it with you.{{ canonical_url }}" 
       target="_blank" class="mail" 
       title="Share via Email">
      {%- render 'icons',icon:'mail' -%}
    </a>
  </div>
  {% endunless %}
</div>