{% assign file_extension = 'png' %}
{% if swatch == blank %}
{% else %}
{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = -1 %}
{% for option in product.options %}
{% if option == swatch %}
{% assign found_option = true %}
{% assign option_index = forloop.index0 %}
{% assign downcased_option = swatch | downcase %}
{% if downcased_option contains 'color' or downcased_option contains 'colour' %}
{% assign is_color = true %}
{% endif %}
{% endif %}
{% endfor %}
{% if option_index != -1 %}
<div class="swatches text-center">
  <div class="swatch clearfix" data-option-index="{{ option_index }}">
    <div><p class="swatch_title{% if hide_label %} hide{% endif %}">{{ swatch }}</p></div>
    {% assign values = '' %}
    {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
    {% assign values = values | join: ',' %}
    {% assign values = values | append: ',' | append: value %} 
    {% assign values = values | split: ',' %}
    <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }}">
      {% if is_color %}
      <label data-img = "{% unless variant.image.size == blank%}{{variant | img_url:'grande'}}{% endunless %}" for="swatch-{{ option_index }}-{{ value | handle }}">
        {%- render 'srcset',src_name:variant.image,src_alt:variant.title -%}
      </label>
      {% else %}
      <span>
        {{ value | escape }}
      </span>
      {% endif %}
    </div>
    {% endunless %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endif %}